Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

victoria-metrics-operator: add missing permission to allow patching `horizontalpodautoscalers` when operator watches single namespace
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/role.yaml
Labels: operator

updated moved template login out of dashboards sync script to helm
  .github/workflows/run-testing.yaml
  README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/vmalert.yaml
  charts/victoria-metrics-k8s-stack/hack/requirements.txt
  charts/victoria-metrics-k8s-stack/hack/sync_grafana_dashboards.py
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/backupmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/operator.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
Labels: k8s-stack

victoria-metrics-operator: add missing permission to allow patching `horizontalpodautoscalers` when operator watches single namespace (#1203)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/role.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#1204)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs (#1205)
  charts/victoria-metrics-operator/README.md
Labels: operator

updated moved template login out of dashboards sync script to helm (#1198)
  .github/workflows/run-testing.yaml
  README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/vmalert.yaml
  charts/victoria-metrics-k8s-stack/hack/requirements.txt
  charts/victoria-metrics-k8s-stack/hack/sync_grafana_dashboards.py
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/backupmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/operator.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
Labels: k8s-stack

Synchronize docs
  README.md
Labels: none

Synchronize docs (#1207)
  README.md
Labels: none

allow to disable the default grafana datasource
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

updat readme via helm-docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

add change to changelog
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Allow to disable default grafana datasource (#1201)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1208)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

support jsonnet import
  Makefile
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/hack/Dockerfile
  charts/victoria-metrics-k8s-stack/hack/Makefile
  charts/victoria-metrics-k8s-stack/hack/requirements.txt
  charts/victoria-metrics-k8s-stack/hack/sync_grafana_dashboards.py
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

victoria-metrics-single: fixed relabeling inconsistencies
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/values.yaml
Labels: single

support jsonnet import (#1209)
  Makefile
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/hack/Dockerfile
  charts/victoria-metrics-k8s-stack/hack/Makefile
  charts/victoria-metrics-k8s-stack/hack/requirements.txt
  charts/victoria-metrics-k8s-stack/hack/sync_grafana_dashboards.py
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

Add alerting rules for VictoriaMetrics operator (https://github.com/VictoriaMetrics/operator/issues/526), Updated alerting rules for VictoriaMetrics components
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmoperator.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/vmoperator.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

removed old template
  charts/victoria-metrics-k8s-stack/templates/rules/vmoperator.yaml
Labels: k8s-stack

rephrase changelog
  charts/victoria-metrics-single/CHANGELOG.md
Labels: single

victoria-metrics-single: fixed relabeling inconsistencies (#1210)
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/values.yaml
Labels: single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, single, logs-single

Synchronize docs (#1211)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, single, logs-single

Add alerting rules for VictoriaMetrics operator (#822)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmoperator.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

victoria-metrics-cluster: added ability to override probes
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: cluster, k8s-stack, single

fixed exact rule annotation propagation to other rules
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
Labels: k8s-stack

fixed exact rule annotation propagation to other rules (#1215)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: remove outdated comment
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: remove outdated comment (#1216)
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

fixed dashboards, rules, datasources label limit
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/apiserver.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/cadvisor.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/coredns.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/grafana.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kube-controller-manager.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kube-etcd.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kube-proxy.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kube-scheduler.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kubedns.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kubelet-probes.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kubelet.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/nodeexporter.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: auth, k8s-stack

added shared template for image and for enterprise only error message
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

victoria-metrics-agent: fix license volume mount when using statefulset mode
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
Labels: agent

victoria-metrics-agent: fix license volume mount when using statefulset mode (#1217)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
Labels: agent

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, k8s-stack, single

Automatic update CHANGELOGs and READMEs (#1218)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, k8s-stack, single
