Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs (#722)
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

victoria-logs: update default stream fields configuration
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

victoria-logs: update default stream fields configuration (#723)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
Labels: logs-single

Automatic update CHANGELOGs and READMEs (#724)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
Labels: logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
Labels: logs-single

Synchronize docs (#725)
  charts/victoria-logs-single/README.md
Labels: logs-single

{single,cluster}: update fail message for license check
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/_helpers.tpl
Labels: cluster, single

{single,cluster}: add license enforcement for vmbackupmanager (#712)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: cluster, single

victoria-metrics-k8s-stack: update hack doc
  charts/victoria-metrics-k8s-stack/hack/README.md
Labels: k8s-stack

fix comment about `insecure_skip_verify`
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, single

fix comment about `insecure_skip_verify` (#727)
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, single

{single,cluster}: bump charts version for release
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
Labels: cluster, single

{single,cluster}: bump charts version for release (#729)
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
Labels: cluster, single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: cluster, single

Automatic update CHANGELOGs and READMEs (#730)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: cluster, single

Synchronize docs
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-single/README.md
Labels: cluster, single

Synchronize docs (#731)
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-single/README.md
Labels: cluster, single

victoria-metrics-k8s-stack: update hack doc (#726)
  charts/victoria-metrics-k8s-stack/hack/README.md
Labels: k8s-stack

vmselect-statefulset breaks when resources are set
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

fix deployment `volumeMounts` when providing enterprise license key for VictoriaMetrics enterprise
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
Labels: cluster

update changelog
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
Labels: cluster

fix deployment `volumeMounts` when providing enterprise license key f… (#734)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
Labels: cluster

fix gateway chart version
  charts/victoria-metrics-gateway/Chart.yaml
Labels: none

fix gateway chart version (#735)
  charts/victoria-metrics-gateway/Chart.yaml
Labels: none

fix: change default scheduler port in k8s-stack scrapeservice
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Update CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

fix: change default scheduler port in k8s-stack scrapeservice (#736)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: cluster, k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: cluster, k8s-stack

Automatic update CHANGELOGs and READMEs (#738)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: cluster, k8s-stack

Synchronize docs
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: cluster, k8s-stack

Synchronize docs (#739)
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: cluster, k8s-stack

vmanomaly: new version, reflect config updates
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/vmanomaly-lint-hack.yaml
Labels: anomaly

vmanomaly: new version, reflect config updates (#740)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/vmanomaly-lint-hack.yaml
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly
