Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*

[victoria-metrics-alert] Fix alertmanager using server's values (#898)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
Labels: agent, alert

Added changelog
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#874)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

charts/victoria-metrics-alert: release bugfixes (#900)
  charts/victoria-metrics-alert/Chart.yaml
Labels: alert

Automatic update CHANGELOGs and READMEs (#878)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#866)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

charts/victoria-metrics-k8s-stack: fix remoteWrite URLs templating (#886)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#882)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: alert

charts/vmanomaly: fix passing license file path when passing license from secret (#868)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#889)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

charts/vmauth: changes ready httpGet probe with tcpSocket (#858)
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
Labels: auth

ci: setup a license for vmanomaly chart testing (#887)
  .github/workflows/run-testing.yaml
  hack/helm/victoria-metrics-anomaly.yaml
Labels: none

charts/vmalert: allow overriding alertmanager listen addr (#883)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Add HPA support for VMAgent (#863)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

prepare release for k8s chart (#876)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#869)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Vmanomaly v1.10 changes (#864)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

charts/vmalert: follow-up for 01c5724e2b8da7282117b6232d4348882a0db69a (#880)
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Make alertmanager deployment more extensible (#871)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

charts/victoria-metrics-agent: follow-up for #863 (#895)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
Labels: agent

victoria-metrics-alert: Fix possible null value on flag `notifier.url`, `remoteRead.url` and `remoteWrite.url` in vmalert deployment. (#897)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

Automatic update CHANGELOGs and READMEs (#902)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

Automatic update CHANGELOGs and READMEs (#884)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: alert

prepare release for operator chart with version 0.41.2 (#872)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

v1.11 version modification (#888)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

Revert "Added changelog"
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Revert "Revert to group k8s rule 2/2"
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.pod_owner.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/_rules.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Revert "charts/vmalert: allow overriding alertmanager listen addr (#883)"
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Revert "Automatic update CHANGELOGs and READMEs (#882)"
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: alert

Revert "ci: setup a license for vmanomaly chart testing (#887)"
  .github/workflows/run-testing.yaml
  hack/helm/victoria-metrics-anomaly.yaml
Labels: none

Revert "charts/victoria-metrics-alert: release bugfixes (#900)"
  charts/victoria-metrics-alert/Chart.yaml
Labels: alert

Revert "prepare release for k8s chart (#876)"
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Revert "Automatic update CHANGELOGs and READMEs (#889)"
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Revert "Automatic update CHANGELOGs and READMEs (#884)"
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: alert

Revert "victoria-metrics-alert: Fix possible null value on flag `notifier.url`, `remoteRead.url` and `remoteWrite.url` in vmalert deployment. (#897)"
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

Revert "Automatic update CHANGELOGs and READMEs (#874)"
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Revert "Automatic update CHANGELOGs and READMEs (#878)"
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Revert "[victoria-metrics-alert] Fix alertmanager using server's values (#898)"
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
Labels: agent, alert

Revert "Vmanomaly v1.10 changes (#864)"
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

Revert "Make alertmanager deployment more extensible (#871)"
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert
