Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

fixed duplication
  _index.md
Labels: none

use single gpg
  .github/workflows/update-docs.yaml
Labels: none

common: new release with enterprise and image related functions (#1495)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  charts/victoria-metrics-common/templates/_service.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: single

Automatic update CHANGELOGs and READMEs (#1499)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: single

Synchronize docs
  charts/victoria-metrics-single/README.md
Labels: single

Synchronize docs (#1500)
  charts/victoria-metrics-single/README.md
Labels: single

use built in ingress for vmauth
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

common: new release with templates fixes
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_image.tpl
Labels: none

common: new release with templates fixes (#1501)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_image.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1502)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

release logs and anomaly charts with fixes
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
Labels: anomaly, logs-single

fixed typo
  charts/victoria-metrics-anomaly/CHANGELOG.md
Labels: anomaly

release logs and anomaly charts with fixes (#1503)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
Labels: anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly, logs-single

Automatic update CHANGELOGs and READMEs (#1504)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly, logs-single

Synchronize docs (#1505)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly, logs-single

operator: configurable webhook port
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

fixed cleanup hook
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
Labels: operator

align with write vmauth-write
  charts/victoria-metrics-distributed/templates/vmauth-read.yaml
Labels: none

align with write vmauth-write (#1511)
  charts/victoria-metrics-distributed/templates/vmauth-read.yaml
Labels: none

fixed typo
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

Update issue templates (#1497)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

operator: configurable webhook port (#1507)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

pr comments
  charts/victoria-logs-single/_index.md
  charts/victoria-metrics-agent/_index.md
  charts/victoria-metrics-alert/_index.md
  charts/victoria-metrics-anomaly/_index.md
  charts/victoria-metrics-auth/_index.md
  charts/victoria-metrics-cluster/_index.md
  charts/victoria-metrics-distributed/_index.md
  charts/victoria-metrics-gateway/_index.md
  charts/victoria-metrics-k8s-stack/_index.md
  charts/victoria-metrics-operator/_index.md
  charts/victoria-metrics-single/_index.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

victoria-metrics-distributed: support overriding the default name for extra vmagent and vmcluster per zone
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/templates/_helpers.tpl
  charts/victoria-metrics-distributed/templates/extra-vmagent.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmcluster.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-operator/README.md
Labels: operator, logs-single

pipeline and chart bugfixes
  .github/workflows/labeler.yaml
  .github/workflows/update-docs.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

pipeline and chart bugfixes (#1513)
  .github/workflows/labeler.yaml
  .github/workflows/update-docs.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

victoria-metrics-distributed: support overriding the default name for extra vmagent and vmcluster per zone (#1512)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/templates/_helpers.tpl
  charts/victoria-metrics-distributed/templates/extra-vmagent.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmcluster.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-operator/README.md
Labels: operator, logs-single

Synchronize docs
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs
  charts/victoria-metrics-distributed/README.md
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-distributed/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1514)
  charts/victoria-metrics-distributed/CHANGELOG.md
Labels: none

create vm pr before gh-pages checkout
  .github/workflows/update-docs.yaml
Labels: none
