Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

common: root context lookup for vm.url and vm.host templates
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

distributed: added upgrade guide, updated templates
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-distributed/templates/NOTES.txt
  charts/victoria-metrics-distributed/templates/_helpers.tpl
  charts/victoria-metrics-distributed/templates/extra-vmagent.yaml
  charts/victoria-metrics-distributed/templates/grafana-datasource.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmagent.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-proxy.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-write-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmcluster.yaml
  charts/victoria-metrics-distributed/templates/vmauth-read.yaml
  charts/victoria-metrics-distributed/templates/vmauth-write.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
  charts/victoria-metrics-single/templates/NOTES.txt
Labels: agent, alert, k8s-stack, operator, single, anomaly, logs-single

Fixed issue with template
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

Added default flag "rule" and comment for subPath
  charts/victoria-metrics-alert/values.yaml
Labels: alert

vmalert: fixed rule param and updated docs
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/values.yaml
Labels: alert

vmalert: fixed rule param and updated docs (#1764)
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Synchronize docs
  charts/victoria-metrics-alert/README.md
Labels: alert

Added default flag "rule" and comment for subPath (#1763)
  charts/victoria-metrics-alert/values.yaml
Labels: alert

added zoneTpl
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-distributed/templates/_helpers.tpl
  charts/victoria-metrics-distributed/templates/extra-vmagent.yaml
  charts/victoria-metrics-distributed/templates/grafana-datasource.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmagent.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-proxy.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-write-balancer.yaml
  charts/victoria-metrics-distributed/templates/vmauth-read.yaml
  charts/victoria-metrics-distributed/templates/vmauth-write.yaml
  charts/victoria-metrics-distributed/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-distributed/tests/vmauth_test.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

typo
  charts/victoria-metrics-distributed/values.yaml
Labels: none

Synchronize docs
  charts/victoria-metrics-distributed/README.md
Labels: none

Update server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

Fixed issue with deployment template (#1762)
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

charts: update app versions to v1.106.1 release
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

charts: update app versions to v1.106.1 release (#1767)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Automatic update CHANGELOGs and READMEs (#1768)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Synchronize docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

charts/vmanomaly - update app to v1.18.4
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

charts/vmanomaly - update app to v1.18.4 (#1770)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#1771)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

common: fixed appversion label
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/RELEASE_GUIDE.md
  charts/victoria-metrics-k8s-stack/todo.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
  test-charts/victoria-metrics-common/templates/image.yaml
  test-charts/victoria-metrics-common/tests/image_test.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

common: fixed appversion label (#1774)
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/RELEASE_GUIDE.md
  charts/victoria-metrics-k8s-stack/todo.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
  test-charts/victoria-metrics-common/templates/image.yaml
  test-charts/victoria-metrics-common/tests/image_test.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1776)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: none

Synchronize docs
  charts/victoria-metrics-common/README.md
Labels: none

k8s-stack: allow CR name override using component.name parameter
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
Labels: k8s-stack

vmauth: fixed multiple ingress rendering
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/ingress.yaml
Labels: auth

k8s-stack: allow CR name override using component.name parameter (#1780)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
Labels: k8s-stack

vmauth: fixed multiple ingress rendering (#1781)
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/ingress.yaml
Labels: auth

common: render template in vm.app.name
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
  test-charts/victoria-metrics-common/tests/image_test.yaml
Labels: logs-single

common: render template in vm.app.name (#1783)
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
  test-charts/victoria-metrics-common/tests/image_test.yaml
Labels: logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-common/README.md
Labels: logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none
