Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#804)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#805)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Add init containers for deployment and statefulset.
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Correct template of vmselect statefulset.
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

Correct template of vmselect statefulset. (#807)
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

charts/victoria-metrics-cluster: bump chart version to release #807
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

charts/victoria-metrics-cluster: bump chart version to release #807 (#808)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#809)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs (#810)
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Update charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Update charts/victoria-metrics-agent/CHANGELOG.md.
  charts/victoria-metrics-agent/CHANGELOG.md
Labels: agent

Add init containers for deployment and statefulset. (#806)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Synchronize docs
  charts/victoria-metrics-agent/README.md
Labels: agent

charts/victoria-metrics-agent: bump chart version for release
  charts/victoria-metrics-agent/Chart.yaml
Labels: agent

Synchronize docs (#812)
  charts/victoria-metrics-agent/README.md
Labels: agent

[victoria-metrics-operator] add imagePullSecrets to imagePullSecrets:
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: operator

[victoria-metrics-operator] add imagePullSecrets to imagePullSecrets: (#814)
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: operator

charts/victoria-metrics-agent: bump chart version for release (#813)
  charts/victoria-metrics-agent/Chart.yaml
Labels: agent

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
Labels: agent

Automatic update CHANGELOGs and READMEs (#815)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
Labels: agent

Synchronize docs
  charts/victoria-metrics-agent/README.md
Labels: agent

Synchronize docs (#816)
  charts/victoria-metrics-agent/README.md
Labels: agent

Exclude dependencies charts.
  charts/victoria-metrics-k8s-stack/.gitignore
Labels: k8s-stack

Exclude dependencies charts. (#817)
  charts/victoria-metrics-k8s-stack/.gitignore
Labels: k8s-stack

Split templates of resources per kind - fix helm linting. (fix #819).
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-insert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-select.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
Labels: k8s-stack

update job label coredns
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

update job label coredns (#823)
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Update CHANGELOG.
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Split templates of resources per kind - fix helm linting. (fix #819). (#820)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-insert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-select.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
Labels: k8s-stack

Bump version of VictoriaMetrics Grafana datasource plugin to 0.5.0
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Bump version of VictoriaMetrics Grafana datasource plugin to 0.5.0 (#825)
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

victoria-metrics-cluster: switch probes scheme to `HTTPS` if vminsert and vmselect enabled tls in extraArgs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

victoria-metrics-cluster: switch probes scheme to `HTTPS` if vminsert and vmselect enabled tls in extraArgs (#826)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

added envFrom option
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  values.yaml
Labels: agent

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
