Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

charts/victoria-metrics-k8s-stack: add `promscrape.dropOriginalLabels` by default
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: add `promscrape.dropOriginalLabels` by default (#850)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#851)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

victoria-metrics-k8s-stack&victoria-metrics-operator: update crd yaml and bump dependencies
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
Labels: k8s-stack, operator

follow up https://github.com/VictoriaMetrics/helm-charts/pull/844/commits/f997bd619be019d69be1c3c272b779c5649e6d2a
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

fix ci test
  hack/helm/victoria-metrics-k8s-stack.yaml
Labels: none

👷 Validate with kubectl before install
  .github/workflows/run-testing.yaml
Labels: none

💚 Validate manifests after install
  .github/workflows/run-testing.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: cluster, k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#853)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: cluster, k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: cluster, k8s-stack, operator

fix default retentionPeriod
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs (#854)
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: cluster, k8s-stack, operator

charts/vmauth: changes ready httpGet probe with tcpSocket it allows to properly configure tls configuration for vmauth chart https://github.com/VictoriaMetrics/helm-charts/issues/528
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
Labels: auth

[fix] Boolean for k8s rules
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.pod_owner.yaml
Labels: k8s-stack

Add HPA support for VMAgent
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Fix typos
  charts/victoria-metrics-agent/templates/hpa.yaml
Labels: agent

[fix] Fixed k8s rules in hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_resource.yaml
Labels: k8s-stack

[fix] forgot to remove rule
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.pod_owner.yaml
Labels: k8s-stack

v1.10 changes
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

Added all k8s rules
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

Added k8s rules to values.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Changed value names
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

feature version change
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

changelog
  charts/victoria-metrics-anomaly/CHANGELOG.md
Labels: anomaly

typo fix
  charts/victoria-metrics-anomaly/CHANGELOG.md
Labels: anomaly

changelog fixes
  charts/victoria-metrics-anomaly/CHANGELOG.md
Labels: anomaly

Vmanomaly v1.10 changes (#864)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#866)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs (#867)
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

charts/vmanomaly: fix passing license file path when passing license from secret
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
Labels: anomaly

charts/vmanomaly: fix passing license file path when passing license from secret (#868)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#869)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
