Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Automatic update CHANGELOGs and READMEs (#1785)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

ingress: uncommented default host values for an example
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/tests/__snapshot__/ingress_test.yaml.snap
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, single, logs-single

common: fixed labels typo
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/tests/__snapshot__/hpa_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/ingress_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/service_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vminsert_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmselect_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmstorage_test.yaml.snap
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-single/Chart.lock
  charts/victoria-metrics-single/templates/server-deployment.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, single, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1787)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: none

Automatic update operator crds from VictoriaMetrics/operator@4f8fafb
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
Labels: operator

Automatic update operator crds from VictoriaMetrics/operator@4f8fafb (#1789)
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
Labels: logs-single

Automatic update CHANGELOGs and READMEs (#1790)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
Labels: logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
Labels: logs-single

Update CHANGELOG.md
  charts/victoria-logs-single/CHANGELOG.md
Labels: logs-single

Update Chart.yaml
  charts/victoria-metrics-agent/Chart.yaml
Labels: agent

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
Labels: agent

victoria-metrics-operator: release 0.38.1
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
Labels: k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#1791)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
Labels: agent

Synchronize docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-operator/README.md
Labels: agent, operator

Revert "victoria-metrics-operator: release 0.38.1"
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
Labels: k8s-stack, operator

add appKey for ingress name and backend fix
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
Labels: alert

fixed svc port
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
Labels: alert

k8s-stack: updated vmauth configuration generation
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

k8s-stack: updated vmauth configuration generation (#1794)
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

vlogs: removed duplicated app label from dashboards
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/dashboard.yaml
Labels: logs-single

synced dashboards
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/files/dashboards/generated/victorialogs.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
Labels: k8s-stack, logs-single

synced dashboards (#1797)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/files/dashboards/generated/victorialogs.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
Labels: k8s-stack, logs-single

vlogs: removed duplicated app label from dashboards (#1796)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/dashboard.yaml
Labels: logs-single

victoria-logs-single: release 0.8.3
  charts/victoria-logs-single/Chart.yaml
Labels: logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
Labels: logs-single

Automatic update CHANGELOGs and READMEs (#1798)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
Labels: logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
Labels: logs-single

charts/operator: updates to v0.50.0 operator version
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#1799)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
