Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*

Synchronize docs (#742)
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#743)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

update sync_rules.py to allow disabling individual alerts (#678)
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

bump version of VM operator to [0.39.1](https://github.com/VictoriaMetrics/operator/releases/tag/v0.39.1)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

bump version of VM operator to [0.39.1](https://github.com/VictoriaMetrics/operator/releases/tag/v0.39.1) (#744)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#745)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs (#746)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Bump version of operator chart to [0.27.4](https://github.com/VictoriaMetrics/helm-charts/releases/tag/victoria-metrics-operator-0.27.4) in k8s-stack
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
Labels: k8s-stack

Bump version of operator chart to [0.27.4](https://github.com/VictoriaMetrics/helm-charts/releases/tag/victoria-metrics-operator-0.27.4) in k8s-stack (#747)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#748)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#749)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

vm-operator: add `extraObjects` to allow deploying additional resources with the chart release
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/extra-objects.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

bump charts version
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
Labels: k8s-stack, operator

vm-k8s-stack: support adding extra group params for default vmrules
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/etcd.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-burnrate.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-histogram.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-slos.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-prometheus-general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-prometheus-node-recording.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-scheduler.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-controller-manager.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-scheduler.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-network.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vm-health.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

vm-operator: add `extraObjects` to allow deploying additional resourc… (#751)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/extra-objects.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

Fix: the statefulset pod name length is more than 63 (#687)
  charts/victoria-metrics-cluster/templates/_helpers.tpl
Labels: cluster

update changelog
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Synchronize docs (#753)
  charts/victoria-metrics-operator/README.md
Labels: operator

vm-k8s-stack: support adding extra group params for default vmrules (#752)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/etcd.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-burnrate.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-histogram.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-slos.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-prometheus-general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-prometheus-node-recording.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-scheduler.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-controller-manager.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-scheduler.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-network.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vm-health.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

kube state metrics helm chart is maintained by prometheus team
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

kube state metrics helm chart is maintained by prometheus team (#755)
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

charts/victoria-logs-single: update Docker image from v0.4.1-victorialogs to v0.4.2-victorialogs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
Labels: logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, logs-single

Automatic update CHANGELOGs and READMEs (#759)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, logs-single

Synchronize docs (#758)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, logs-single

charts: update Docker image tags for VictoriaMetrics components from v1.94.0 to v1.95.0
  README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Synchronize docs
  README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Update index.yaml
  index.yaml
Labels: none
