Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: alert, k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#1464)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: alert, k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

upgraded deps and bumped k8s-stack chart version
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, single, anomaly, logs-single

Synchronize docs (#1465)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

upgraded deps and bumped k8s-stack chart version (#1466)
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1467)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1468)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

moved crds to separate chart
  charts/victoria-metrics-crds/Chart.yaml
  charts/victoria-metrics-crds/crds/crd.yaml
  charts/victoria-metrics-crds/templates/_helpers.yaml
  charts/victoria-metrics-crds/templates/cleanup.yaml
  charts/victoria-metrics-crds/values.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

updated lock files and gitignore
  .gitignore
  charts/victoria-metrics-k8s-stack/.gitignore
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/charts/victoria-metrics-crds
Labels: k8s-stack, operator

fixed tests
  charts/victoria-metrics-crds/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/victoria-metrics-crds
  hack/helm/victoria-metrics-crds/e2e/simple.yaml
  hack/helm/victoria-metrics-crds/lint/simple.yaml
Labels: k8s-stack

fixed tests
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

common: allow to pass extra prefix to vm.managed.fullname
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

Fix the clusternativeListenAddr port for vmselect in victoria-metrics-cluster
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

Apply suggestions from code review
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

avoid publishing crd chart
  .gitignore
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds
  charts/victoria-metrics-k8s-stack/charts/victoria-metrics-crds
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/charts/crds/Chart.lock
  charts/victoria-metrics-operator/charts/crds/Chart.yaml
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/charts/crds/templates/_helpers.yaml
  charts/victoria-metrics-operator/charts/crds/templates/cleanup.yaml
  charts/victoria-metrics-operator/charts/crds/values.yaml
  charts/victoria-metrics-operator/charts/victoria-metrics-crds
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/values.yaml
  hack/helm/victoria-metrics-crds/e2e/simple.yaml
  hack/helm/victoria-metrics-crds/lint/simple.yaml
Labels: k8s-stack, operator

added oci release
  .github/workflows/release.yaml
Labels: none

added oci release
  .github/workflows/release.yaml
Labels: none

added oci release
  .github/workflows/release.yaml
Labels: none

added oci release
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-operator/.cr-release-packages/victoria-metrics-operator-0.34.8.tgz
Labels: operator, logs-single

common: allow to pass extra prefix to vm.managed.fullname (#1469)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

Fix the clusternativeListenAddr port for vmselect (#1470)
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

added cluster bugfix changelog entry
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

added cluster bugfix changelog entry (#1471)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/CHANGELOG.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1472)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/CHANGELOG.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs (#1473)
  charts/victoria-metrics-cluster/README.md
Labels: cluster

fixed security context for vmstorage statefulset
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
Labels: cluster

fixed security context for vmstorage statefulset (#1475)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
Labels: cluster

vmanomaly: removed not loggerFormat flag from extraArgs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

vmanomaly: removed not loggerFormat flag from extraArgs (#1477)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#1478)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly
