Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

charts/operator: v0.43.0 release
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#976)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/k8s-stack: updates operator to v0.43.0
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
Labels: k8s-stack

Synchronize docs (#977)
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/k8s: bump chart version
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

charts/k8s: bump chart version (#979)
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#980)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#981)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

charts/operator: updates to v0.43.1
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#983)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/k8s-stack: updates operator to v0.43.1
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#985)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs (#984)
  charts/victoria-metrics-operator/README.md
Labels: operator

charts: properly truncate labels for long release names
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/_helpers.tpl
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

charts: properly truncate labels for long release names (#973)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/_helpers.tpl
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

charts/operator: updates to v0.43.3
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#988)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

charts/k8s-stack: updates operator to v0.43.3 version
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#990)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Update charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
Labels: cluster

Update charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
Labels: cluster

Update charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
Labels: cluster

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
