Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

charts/k8s-stack: updates operator chart version
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1342)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1343)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

add enterpise license for vmgateway, vmanomaly and vmbackupmanager
  .github/workflows/run-testing.yaml
Labels: none

add enterpise license for vmgateway, vmanomaly and vmbackupmanager (#1344)
  .github/workflows/run-testing.yaml
Labels: none

removed eula support
  .github/workflows/run-testing.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/NOTES.txt
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_pod.tpl
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/values.yaml
  hack/helm/victoria-metrics-anomaly/e2e/simple.yaml
  hack/helm/victoria-metrics-anomaly/lint/simple.yaml
  hack/helm/victoria-metrics-gateway/e2e/simple.yaml
  hack/helm/victoria-metrics-gateway/lint/simple.yaml
Labels: cluster, single, anomaly

template image
  charts/victoria-metrics-common/templates/_image.tpl
Labels: none

updated ci jobs
  .github/workflows/run-testing.yaml
  hack/helm/victoria-metrics-anomaly/e2e/simple.yaml
  hack/helm/victoria-metrics-anomaly/lint/simple.yaml
  hack/helm/victoria-metrics-gateway/e2e/simple.yaml
  hack/helm/victoria-metrics-gateway/lint/simple.yaml
Labels: none

removed eula support (#1326)
  .github/workflows/run-testing.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/NOTES.txt
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  charts/victoria-metrics-common/templates/_pod.tpl
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/values.yaml
  hack/helm/victoria-metrics-anomaly/e2e/simple.yaml
  hack/helm/victoria-metrics-anomaly/lint/simple.yaml
  hack/helm/victoria-metrics-gateway/e2e/simple.yaml
  hack/helm/victoria-metrics-gateway/lint/simple.yaml
Labels: cluster, single, anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/README.md
Labels: cluster, single, anomaly

Synchronize docs (#1345)
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/README.md
Labels: cluster, single, anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1346)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

common: support long and short cmd flags
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_pod.tpl
Labels: none

vmanomaly: add pull port to podMonitor condition
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/templates/pod-monitor.yaml
Labels: anomaly

common: support long and short cmd flags (#1347)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_pod.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1349)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

upgraded app version
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

fail template if pull port is not defined
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/templates/pod-monitor.yaml
Labels: anomaly

removed pdb default conflicting value
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

updated changelog
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

fixed lint config
  hack/helm/victoria-metrics-anomaly/lint/simple.yaml
Labels: none

vmanomaly: add pull port to podMonitor condition (#1348)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/templates/pod-monitor.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/helm/victoria-metrics-anomaly/lint/simple.yaml
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#1351)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs (#1350)
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

made cluster variable configurable on dashboards
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/vmalert.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
Labels: k8s-stack

fix
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
Labels: k8s-stack

k8s-stack: refactored templates
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/additionalNotifierConfigs.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

made cluster variable configurable on dashboards (#1353)
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/vmalert.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
Labels: k8s-stack

removed old templates
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-insert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-select.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/ingress.yaml
Labels: k8s-stack

added flag for dashboards installation
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack
