Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

chore: bump kube-state-metrics and node-exporter subchart versions
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Remove repeated volumeMounts section (#610)
  charts/victoria-logs-single/templates/server-statefulset.yaml
Labels: logs-single

charts/vmanomaly: add ability to provide license key
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
  charts/victoria-metrics-anomaly/templates/deployment.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

vlogs-single: update to 0.3.0 (#598)
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

make package merge gen-docs
  charts/victoria-logs-single/README.md
  index.yaml
  packages/victoria-logs-single-0.3.0.tgz
Labels: logs-single

Added `topologySpreadConstraints` for the operator + a small refactoring.
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/pdb.yaml
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

debug value removed
  charts/victoria-metrics-operator/values.yaml
Labels: operator

fixed review comment
  charts/victoria-metrics-operator/README.md
Labels: operator

Added `topologySpreadConstraints` for the operator + a small refactoring (#611)
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/pdb.yaml
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

split operator crd yaml to subchart
  .gitignore
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

bump k8s stack version to 0.17.5
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

charts/vmanomaly: add ability to provide license key (#601)
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
  charts/victoria-metrics-anomaly/templates/deployment.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

bump version of vmanomaly, make package merge gen-docs
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  index.yaml
  packages/victoria-metrics-anomaly-0.4.0.tgz
Labels: anomaly

reduce k8s-stack chart size (#603)
  .gitignore
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

small fixes
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: agent, operator

add: grafanaOperatorDashboardsFormat option
  charts/victoria-metrics-k8s-stack/hack/sync_grafana_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/backupmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/operator.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

reduce default scrape interval
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

charts: released v1.93.1 version
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
  index.yaml
  packages/victoria-metrics-agent-0.9.4.tgz
  packages/victoria-metrics-alert-0.7.4.tgz
  packages/victoria-metrics-auth-0.3.4.tgz
  packages/victoria-metrics-cluster-0.10.5.tgz
  packages/victoria-metrics-gateway-0.1.43.tgz
  packages/victoria-metrics-k8s-stack-0.17.5.tgz
  packages/victoria-metrics-single-0.9.4.tgz
Labels: agent, alert, auth, cluster, k8s-stack, single

fix review comment
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, anomaly, logs-single

follow up after c4cb291
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: agent, alert, auth, cluster, k8s-stack, single, anomaly

disable honorTimestamps for cadvisor by default
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, k8s-stack, single

disable honorTimestamps for cadvisor by default (#617)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, k8s-stack, single

Synchronize docs
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

reduce default scrape interval (#616)
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

move clean up cr hook to operator
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

bump operator chart version
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

keep previous behaviour for `cleanupCRD` in operator chart
  charts/victoria-metrics-operator/values.yaml
Labels: operator

add changelog
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
Labels: k8s-stack, operator

make up changelog for #617
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: agent, k8s-stack, single

make up changelog for #617 (#618)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: agent, k8s-stack, single

move clean up cr job to operator chart (#593)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

update index with new versions
  index.yaml
Labels: none

update index with new versions
  index.yaml
Labels: none

update index with new versions
  index.yaml
Labels: none

prepare release of operator and vmagent chart
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: agent, operator

update CRD
  charts/victoria-metrics-operator/templates/crd.yaml
Labels: operator

charts/operator: correctly copy CRD.yaml without IDE formatting
  charts/victoria-metrics-operator/templates/crd.yaml
Labels: operator

prepare release of operator and vmagent charts (#621)
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: agent, operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: agent, k8s-stack, operator, logs-single

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
