Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: single, logs-single

Automatic update CHANGELOGs and READMEs (#1650)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: single, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-single/README.md
Labels: single, logs-single

fix: k8s secrets can not contain underscores
  charts/victoria-metrics-agent/values.yaml
Labels: agent

fix: k8s secrets can not contain underscores (#1651)
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Drop extraLabels to avoid carrying them over the next render
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
Labels: cluster

Drop extraLabels to avoid carrying them over the next render (#1652)
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
Labels: cluster

ci: remove already published packages to prevent OCI releases from overwrite
  .github/workflows/release.yaml
Labels: none

ci: remove already published packages to prevent OCI releases from overwrite (#1654)
  .github/workflows/release.yaml
Labels: none

common: replace app label with component for managed labels
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

k8s-stack: use common templates
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
  charts/victoria-metrics-k8s-stack/templates/serviceaccount.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
  charts/victoria-metrics-k8s-stack/values.yaml
  hack/rules-and-dashboards/sync_rules.py
Labels: k8s-stack

fix typo in crd description
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
Labels: operator

fix typo in crd description (#1658)
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
Labels: operator

common: replace app label with component for managed labels (#1655)
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1661)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

k8s-stack: use common templates (#1645)
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
  charts/victoria-metrics-k8s-stack/templates/serviceaccount.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
  charts/victoria-metrics-k8s-stack/values.yaml
  hack/rules-and-dashboards/sync_rules.py
Labels: k8s-stack

k8s-stack: updated dependencies
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

updated common dependency in all charts
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

k8s-stack: updated dependencies (#1662)
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

victoria-logs-single: chart cleanup
  charts/victoria-logs-single/templates/NOTES.txt
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/templates/pdb.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
Labels: logs-single

victoria-metrics-agent: chart cleanup
  charts/victoria-metrics-agent/templates/clusterrole.yaml
  charts/victoria-metrics-agent/templates/clusterrolebinding.yaml
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-agent/templates/pdb.yaml
  charts/victoria-metrics-agent/templates/pvc.yaml
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/templates/serviceaccount.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
Labels: agent

victoria-metrics-gateway: chart cleanup
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/configmap.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-gateway/templates/pdb.yaml
  charts/victoria-metrics-gateway/templates/service-monitor.yaml
  charts/victoria-metrics-gateway/templates/service.yaml
  charts/victoria-metrics-gateway/templates/serviceaccount.yaml
Labels: none

victoria-metrics-single: chart cleanup
  charts/victoria-metrics-single/templates/NOTES.txt
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/clusterrole.yaml
  charts/victoria-metrics-single/templates/clusterrolebinding.yaml
  charts/victoria-metrics-single/templates/pdb.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/templates/serviceaccount.yaml
Labels: single

victoria-metrics-auth: chart cleanup
  charts/victoria-metrics-auth/templates/NOTES.txt
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-auth/templates/pdb.yaml
  charts/victoria-metrics-auth/templates/secret.yaml
  charts/victoria-metrics-auth/templates/service-monitor.yaml
  charts/victoria-metrics-auth/templates/service.yaml
  charts/victoria-metrics-auth/templates/serviceaccount.yaml
Labels: auth

victoria-metrics-alert: chart cleanup
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/alertmanager-pvc.yaml
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/server-alerts-configmap.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-alert/templates/server-pdb.yaml
  charts/victoria-metrics-alert/templates/server-service.yaml
  charts/victoria-metrics-alert/templates/service-monitor.yaml
  charts/victoria-metrics-alert/templates/serviceaccount.yaml
  charts/victoria-metrics-alert/templates/vpa.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

victoria-metrics-anomaly: use common templates and chart cleanup
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/templates/pdb.yaml
  charts/victoria-metrics-anomaly/templates/pod-monitor.yaml
Labels: anomaly

victoria-metrics-operator: chart cleanup
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/pdb.yaml
  charts/victoria-metrics-operator/templates/rb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

victoria-metrics-k8s-stack: chart cleanup
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
  hack/helm/victoria-metrics-k8s-stack/e2e/simple.yaml
  hack/helm/victoria-metrics-k8s-stack/lint/simple.yaml
Labels: k8s-stack

k8s-stack: use common templates (#1645)
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/templates/NOTES.txt
  charts/victoria-metrics-distributed/templates/_helpers.tpl
  charts/victoria-metrics-distributed/templates/extra-vmagent.yaml
  charts/victoria-metrics-distributed/templates/grafana-datasource.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmagent.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-proxy.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-write-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmcluster.yaml
  charts/victoria-metrics-distributed/templates/vmauth-read.yaml
  charts/victoria-metrics-distributed/templates/vmauth-write.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
  charts/victoria-metrics-k8s-stack/templates/serviceaccount.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
  charts/victoria-metrics-k8s-stack/values.yaml
  hack/rules-and-dashboards/sync_rules.py
Labels: k8s-stack

victoria-metrics-agent: chart cleanup (#1664)
  charts/victoria-metrics-agent/templates/clusterrole.yaml
  charts/victoria-metrics-agent/templates/clusterrolebinding.yaml
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-agent/templates/pdb.yaml
  charts/victoria-metrics-agent/templates/pvc.yaml
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/templates/serviceaccount.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
Labels: agent

victoria-logs-single: chart cleanup (#1663)
  charts/victoria-logs-single/templates/NOTES.txt
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/templates/pdb.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
Labels: logs-single

Update charts/victoria-metrics-single/templates/scrape-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
Labels: single

victoria-metrics-single: chart cleanup (#1666)
  charts/victoria-metrics-single/templates/NOTES.txt
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/clusterrole.yaml
  charts/victoria-metrics-single/templates/clusterrolebinding.yaml
  charts/victoria-metrics-single/templates/pdb.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/templates/serviceaccount.yaml
Labels: single

charts/victoria-metrics-k8s-stack: fix config example for init container
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: fix config example for init container (#1673)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

victoria-metrics-gateway: chart cleanup (#1665)
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/configmap.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-gateway/templates/pdb.yaml
  charts/victoria-metrics-gateway/templates/service-monitor.yaml
  charts/victoria-metrics-gateway/templates/service.yaml
  charts/victoria-metrics-gateway/templates/serviceaccount.yaml
Labels: none
