Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

operator: disable cleanup, when crds.enabled: false (#1744)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
Labels: operator

added initial unit tests, updated common templates
  .github/workflows/run-lint.yaml
  .gitignore
  Makefile
  charts/victoria-metrics-common/Chart.lock
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-common/values.yaml
  test-charts/victoria-metrics-common/Chart.lock
  test-charts/victoria-metrics-common/Chart.yaml
  test-charts/victoria-metrics-common/templates/helpers.yaml
  test-charts/victoria-metrics-common/templates/service.yaml
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
  test-charts/victoria-metrics-common/tests/service_test.yaml
  test-charts/victoria-metrics-common/values.yaml
Labels: none

more cases
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
Labels: none

common: do not append default key if custom overrideKey is not set (#1745)
  .github/workflows/run-lint.yaml
  .gitignore
  Makefile
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.lock
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-common/values.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  test-charts/victoria-metrics-common/Chart.lock
  test-charts/victoria-metrics-common/Chart.yaml
  test-charts/victoria-metrics-common/templates/helpers.yaml
  test-charts/victoria-metrics-common/templates/service.yaml
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
  test-charts/victoria-metrics-common/tests/service_test.yaml
  test-charts/victoria-metrics-common/values.yaml
Labels: agent, alert, auth, cluster, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: none

charts/vmanomaly: update to 1.18.2
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

cluster: tests and new release
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/tests/__snapshot__/hpa_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/ingress_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/service_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vminsert_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmselect_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmstorage_test.yaml.snap
  charts/victoria-metrics-cluster/tests/hpa_test.yaml
  charts/victoria-metrics-cluster/tests/ingress_test.yaml
  charts/victoria-metrics-cluster/tests/service_test.yaml
  charts/victoria-metrics-cluster/tests/vmauth_test.yaml
  charts/victoria-metrics-cluster/tests/vminsert_test.yaml
  charts/victoria-metrics-cluster/tests/vmselect_test.yaml
  charts/victoria-metrics-cluster/tests/vmstorage_test.yaml
Labels: cluster

cluster: tests and new release (#1748)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/tests/__snapshot__/hpa_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/ingress_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/service_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vminsert_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmselect_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmstorage_test.yaml.snap
  charts/victoria-metrics-cluster/tests/hpa_test.yaml
  charts/victoria-metrics-cluster/tests/ingress_test.yaml
  charts/victoria-metrics-cluster/tests/service_test.yaml
  charts/victoria-metrics-cluster/tests/vmauth_test.yaml
  charts/victoria-metrics-cluster/tests/vminsert_test.yaml
  charts/victoria-metrics-cluster/tests/vmselect_test.yaml
  charts/victoria-metrics-cluster/tests/vmstorage_test.yaml
Labels: cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: cluster

vmauth and vmgateway: added init containers
  Makefile
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-common/README.md.gotmpl
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-operator/charts/crds/README.md
  charts/victoria-metrics-operator/charts/crds/README.md.gotmpl
  charts/victoria-metrics-operator/charts/crds/values.yaml
Labels: auth, cluster, operator

vmauth and vmgateway: added init containers (#1751)
  Makefile
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-common/README.md.gotmpl
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-operator/charts/crds/README.md
  charts/victoria-metrics-operator/charts/crds/README.md.gotmpl
  charts/victoria-metrics-operator/charts/crds/values.yaml
Labels: auth, cluster, operator

Synchronize docs
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-gateway/README.md
Labels: auth, cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
Labels: auth, cluster

Automatic update CHANGELOGs and READMEs (#1752)
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
Labels: auth, cluster

common: find app key in a context root
  .gitignore
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  test-charts/victoria-metrics-common/Chart.lock
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
Labels: none

common: find app key in a context root (#1753)
  .gitignore
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  test-charts/victoria-metrics-common/Chart.lock
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1755)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: none

Synchronize docs
  charts/victoria-metrics-common/README.md
Labels: none

charts/vmanomaly: update to 1.18.2 (#1747)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#1756)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

charts/vmanomaly - release 1.18.3
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

charts/vmanomaly - release 1.18.3 (#1757)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#1758)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

common: root context lookup for vm.url and vm.host templates
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_service.tpl
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
  test-charts/victoria-metrics-common/tests/service_test.yaml
Labels: none

common: root context lookup for vm.url and vm.host templates (#1759)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_service.tpl
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
  test-charts/victoria-metrics-common/tests/service_test.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1760)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/README.md
Labels: none

Synchronize docs
  charts/victoria-metrics-common/README.md
Labels: none
