Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

fixed license template
  charts/victoria-metrics-common/templates/_enterprise.tpl
Labels: none

Synchronize docs (#1303)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

operator: updated common dependency
  charts/victoria-metrics-operator/Chart.lock
Labels: operator

operator: updated common dependency (#1304)
  charts/victoria-metrics-operator/Chart.lock
Labels: operator

fixed operator common chart version
  charts/victoria-metrics-operator/Chart.lock
Labels: operator

upgraded k8s stack deps
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

added changelog
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

updated cleanup hook permissions
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

updated hook resource priorities
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: operator

moved common templates, fixed case for null in .Values.global (#1299)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  charts/victoria-metrics-common/templates/_pod.tpl
Labels: none

updated cleanup hook permissions (#1310)
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

upgraded k8s stack deps (#1309)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Fix cert-manager managed webhooks
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

fixed issuer indent
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/webhook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Fix cert-manager managed webhooks (#1315)
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

fixed issuer indent (#1316)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/webhook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#1317)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs (#1318)
  charts/victoria-metrics-operator/README.md
Labels: operator

removed helm 3.14+ restriction
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_pod.tpl
  charts/victoria-metrics-common/templates/_probe.tpl
Labels: none

removed helm 3.14+ restriction (#1311)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_pod.tpl
  charts/victoria-metrics-common/templates/_probe.tpl
Labels: none

publish new common chart release
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_pod.tpl
Labels: none

vmanomaly: added PDB and PodMonitor
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/templates/pdb.yaml
  charts/victoria-metrics-anomaly/templates/pod-monitor.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/helm/victoria-metrics-anomaly/e2e/simple.yaml
  hack/helm/victoria-metrics-anomaly/lint/simple.yaml
Labels: anomaly

publish new common chart release (#1321)
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_pod.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1322)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

fixed eula in templates
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_pod.tpl
Labels: none

added changelog
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

fixed eula in templates (#1323)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-common/templates/_pod.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1324)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

added extravolumes and extravolumemounts
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

bump version
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

charts/victoria-metrics-operator: fix CRD naming in RBAC
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

vmanomaly: added extra volumes, extra volumesMounts, PDB and PodMonitor (#1320)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/templates/pdb.yaml
  charts/victoria-metrics-anomaly/templates/pod-monitor.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/helm/victoria-metrics-anomaly/e2e/simple.yaml
  hack/helm/victoria-metrics-anomaly/lint/simple.yaml
Labels: anomaly
