Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

pages fix (#1369)
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: cluster, operator

Synchronize docs
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-operator/README.md
Labels: cluster, operator

Synchronize docs (#1370)
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-operator/README.md
Labels: cluster, operator

operator: improved rendering speed
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-insert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-select.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/ingress.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/pdb.yaml
  charts/victoria-metrics-operator/templates/rb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

removed broken docs
  charts/victoria-metrics-common/templates/_enterprise.tpl
Labels: none

updated common
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, single, anomaly, logs-single

operator: improved rendering speed (#1365)
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-insert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-select.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/ingress.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/pdb.yaml
  charts/victoria-metrics-operator/templates/rb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs (#1371)
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/operator: updates operator to v0.47.3 release
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
Labels: operator

charts/operator: updates deps
  charts/victoria-metrics-operator/Chart.lock
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#1372)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs (#1373)
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/k8s-stack: bump version of VM components to v1.103.0
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

- bump version of VM components to [v1.103.0](https://github.com/VictoriaMetrics/VictoriaMetrics/releases/tag/v1.103.0)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, alert, auth, cluster, single

deps update
  charts/victoria-metrics-distributed/Chart.lock
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, single

Automatic update CHANGELOGs and READMEs (#1374)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, single

Synchronize docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, single

Synchronize docs (#1375)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, single

fixed additional alerting and recording rules
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  hack/helm/victoria-metrics-k8s-stack/lint/simple.yaml
Labels: k8s-stack

updated version
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Fixed additional rules (#1379)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  hack/helm/victoria-metrics-k8s-stack/lint/simple.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1380)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

fixed external notifiers setting, when alertmanager.enabled is false
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Synchronize docs (#1381)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

fixed external notifiers setting, when alertmanager.enabled is false (#1382)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1383)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1384)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

fixed typo in vmalert ingress name
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/ingress.yaml
Labels: k8s-stack

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
