Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: agent, alert, auth, cluster, operator, single

Automatic update CHANGELOGs and READMEs (#664)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: agent, alert, auth, cluster, operator, single

Prepare for release k8s-stack with VM components updated to 1.93.4 and operator updated to 0.38.0
  README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

add changelog for #659
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Prepare for release k8s-stack with VM components updated to 1.93.4 and operator updated to 0.38.0 (#665)
  README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#668)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Synchronize docs (#667)
  README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

added relabelConfigs generic configuration
  charts/rendered_vm_cluster.yaml
  charts/victoria-metrics-cluster/rendered_vm_cluster.yaml
  charts/victoria-metrics-cluster/templates/vminsert-configmap.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

removed rendered
  charts/rendered_vm_cluster.yaml
Labels: none

Fixed review comment + updated chart after master merge
  Makefile
  charts/victoria-metrics-k8s-stack/Chart.lock
Labels: k8s-stack

Fixed review comment
  charts/victoria-metrics-k8s-stack/Chart.lock
Labels: k8s-stack

Updates in k8s-stack (#657)
  Makefile
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/RELEASE_GUIDE.md
  charts/victoria-metrics-k8s-stack/hack/requirements.txt
  charts/victoria-metrics-k8s-stack/hack/sync_grafana_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/backupmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/operator.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vm-health.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/_rules.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#669)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#670)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Fix relabelConfigs for all service monitors
  charts/victoria-metrics-operator/templates/service_scrape.yaml
Labels: operator

Fix `relabelConfigs` field for VMServiceScrape cr (#624)
  charts/victoria-metrics-operator/templates/service_scrape.yaml
Labels: operator

charts/victoria-logs: extraObjects: [] for dynamic supportive objects configuration
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/extra-objects.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
Labels: logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
Labels: logs-single

Automatic update CHANGELOGs and READMEs (#672)
  charts/victoria-logs-single/CHANGELOG.md
Labels: logs-single

Synchronize docs (#671)
  charts/victoria-logs-single/README.md
Labels: logs-single

corrected template logic
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vminsert-configmap.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

added checksum to podannotation
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
Labels: cluster

fix: imagePullSecrets was in the wrong place in the default values file
  charts/victoria-metrics-alert/values.yaml
Labels: alert

victoria-metrics-alert: imagePullSecrets was in the wrong place in the default values file (#675)
  charts/victoria-metrics-alert/values.yaml
Labels: alert

add changelogs for #675 and #624
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
Labels: alert, operator

add changelogs for #675 and #624 (#676)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
Labels: alert, operator

charts/vmagent: fixes job label for kubernetes-pods scrape config
  charts/victoria-metrics-agent/values.yaml
Labels: agent

charts/victoria-metrics-k8s-stack: upgrade grafana datasource version
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: upgrade grafana datasource version (#677)
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

update sync_rules.py to allow disabling individual alerts
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

feat: add behavior option to vminsert/vmselect HPA
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vminsert-hpa.yaml
  charts/victoria-metrics-cluster/templates/vmselect-hpa.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

feat: add behavior option to vminsert/vmselect HPA (#680)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vminsert-hpa.yaml
  charts/victoria-metrics-cluster/templates/vmselect-hpa.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster
