Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

charts/victoria-metrics-operator: update dependencies lock (#1561)
  charts/victoria-metrics-operator/Chart.lock
Labels: operator

webhook: configurable pod port
  charts/victoria-metrics-operator/templates/deployment.yaml
Labels: operator

webhook: configurable pod port (#1567)
  charts/victoria-metrics-operator/templates/deployment.yaml
Labels: operator

- Updated grafana dashboards and rules - Added k8s apiserver and nodes dashboards - Added condition to grafana, alertmanager and vmbackupmanager dashboards - Updated variables section structure
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-api-server.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-nodes.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_cpu_limits.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_cpu_requests.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_limits.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_requests.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-slos.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vm-health.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmagent.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
Labels: k8s-stack, operator

sync docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

k8s-stack: alertmanager upgrade 0.27.0
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

added operator resources, lifecycle and termination grace period
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

release operator chart
  charts/victoria-metrics-operator/Chart.yaml
Labels: operator

fail if crd.cleanup.image.tag is not string
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: operator

fixed dashboard names
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

added more dashboards
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/proxy.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/scheduler.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
Labels: k8s-stack

k8s-stack: alertmanager upgrade 0.27.0 and other minor bugfixes and improvements (#1570)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

updated readmes
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Updated grafana dashboards and rules (#1568)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-api-server.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-nodes.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/proxy.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/scheduler.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_cpu_limits.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_cpu_requests.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_limits.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_requests.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-slos.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vm-health.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmagent.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#1573)
  charts/victoria-metrics-operator/CHANGELOG.md
Labels: operator

k8s-stack: release v0.27.1
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

k8s-stack: release v0.27.1 (#1574)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1575)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

k8s-stack: fixed dashboards
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/proxy.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/scheduler.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
Labels: k8s-stack

k8s-stack: fixed dashboards (#1576)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/proxy.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/scheduler.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1577)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

common: readable error on helm older than 3.14
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

docs: fix typ
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack

docs: fix typ (#1580)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

common: readable error on helm older than 3.14 (#1579)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1581)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

updated chart dependencies
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
  charts/victoria-metrics-single/Chart.yaml
  hack/helm/victoria-metrics-distributed/lint/simple.yaml
  hack/helm/victoria-metrics-operator/lint/simple.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
