Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Automatic update CHANGELOGs and READMEs (#762)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Synchronize docs (#761)
  README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

charts: update Docker image tags for VictoriaMetrics components from v1.95.0 to v1.95.1
  README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Synchronize docs
  README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Automatic update CHANGELOGs and READMEs (#764)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

Synchronize docs (#763)
  README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single

allow custom readiness and liveness probes for vmselect and vminsert
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

vm-alert: fix `notifier.url` check, as it is only needed when alerting rule is used.
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

fixed datasource template
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
Labels: k8s-stack

fixed datasource template (#769)
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
Labels: k8s-stack

k8s stack - update changelog
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

vm-alert: fix `notifier.url` check, as it is only needed when alerting rule is used. (#767)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

victoria-metrics-operator: skip deleting victoriametrics CRD resources when uninstall release
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/crd.yaml
Labels: operator

use template to insert needed annotation
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
Labels: operator

victoria-metrics-operator: skip deleting victoriametrics CRD resources when… (#771)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
Labels: operator

adding important dashboards
  charts/victoria-metrics-k8s-stack/hack/sync_grafana_dashboards.py
Labels: k8s-stack

added yamls file for dashboard
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/cluster-total.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-resources-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-resources-namespace.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-resources-node.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-resources-pod.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-resources-workload.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-resources-workloads-namespace.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/kubelet.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/namespace-by-pod.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/namespace-by-workload.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/node-cluster-rsrc-use.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/node-rsrc-use.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/nodes.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/persistentvolumesusage.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/pod-total.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/proxy.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/workload-total.yaml
Labels: k8s-stack

victoria-metrics-cluster: fix vminsert template for extra volumes
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
Labels: cluster

victoria-metrics-k8s-stack: re-sync dashboards from upstream resources
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: alert, k8s-stack, operator

victoria-metrics-cluster: fix vminsert template for extra volumes (#777)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
Labels: cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#778)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs (#779)
  charts/victoria-metrics-cluster/README.md
Labels: cluster

update changelog
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

victoria-metrics-k8s-stack: re-sync dashboards from upstream resources (#780)
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: alert, k8s-stack, operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: alert, k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#781)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: alert, k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: alert, k8s-stack, operator

Synchronize docs (#782)
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: alert, k8s-stack, operator

victoria-metrics-operator: sync CRD resources with operator v0.39.3
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
Labels: operator

victoria-metrics-operator: sync CRD resources with operator v0.39.3 (#784)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#785)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
