Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

use latest common chart
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Automatic update CHANGELOGs and READMEs (#1621)
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/NOTES.txt
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/clusterrole.yaml
  charts/victoria-metrics-single/templates/clusterrolebinding.yaml
  charts/victoria-metrics-single/templates/pdb.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/templates/serviceaccount.yaml
  charts/victoria-metrics-single/values.yaml
Labels: single

added changelog
  charts/victoria-metrics-single/CHANGELOG.md
Labels: single

vmsingle: use common templates (#1623)
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/NOTES.txt
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/clusterrole.yaml
  charts/victoria-metrics-single/templates/clusterrolebinding.yaml
  charts/victoria-metrics-single/templates/pdb.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/templates/serviceaccount.yaml
  charts/victoria-metrics-single/values.yaml
Labels: single

vmcluster: use common templates (#1631)
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/templates/NOTES.txt
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/extra-secrets.yaml
  charts/victoria-metrics-cluster/templates/hpa.yaml
  charts/victoria-metrics-cluster/templates/ingress.yaml
  charts/victoria-metrics-cluster/templates/pdb.yaml
  charts/victoria-metrics-cluster/templates/service-monitor.yaml
  charts/victoria-metrics-cluster/templates/service.yaml
  charts/victoria-metrics-cluster/templates/serviceaccount.yaml
  charts/victoria-metrics-cluster/templates/vmauth-config.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs
  charts/victoria-metrics-single/README.md
Labels: single

operator: use common templates
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/NOTES.txt
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/pdb.yaml
  charts/victoria-metrics-operator/templates/rb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

logs: support multiple path for each host in ingress
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

Update charts/victoria-logs-single/values.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

logs: support multiple path for each host in ingress (#1633)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
Labels: logs-single

Automatic update CHANGELOGs and READMEs (#1634)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
Labels: logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
Labels: logs-single

vmalert: use common templates
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/alertmanager-pvc.yaml
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/clusterrolebinding.yaml
  charts/victoria-metrics-alert/templates/server-alerts-configmap.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-alert/templates/server-pdb.yaml
  charts/victoria-metrics-alert/templates/server-service.yaml
  charts/victoria-metrics-alert/templates/serviceaccount.yaml
  charts/victoria-metrics-alert/templates/vpa.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

support multiple ingress paths in ingress
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/ingress.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/values.yaml
Labels: auth, cluster, k8s-stack, single, logs-single

minor fix
  charts/victoria-metrics-alert/templates/server-pdb.yaml
  charts/victoria-metrics-alert/templates/service-monitor.yaml
Labels: alert

support multiple ingress paths in ingress (#1636)
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/ingress.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/values.yaml
Labels: auth, cluster, k8s-stack, single, logs-single

chart/vmanomaly - appVersion 1.18.0
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

chart/vmanomaly - appVersion 1.18.0 (#1638)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#1639)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

support HPA for statefulset
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/hpa.yaml
Labels: agent, cluster

support HPA for statefulset (#1642)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/hpa.yaml
Labels: agent, cluster

operator: use common templates (#1632)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/NOTES.txt
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/pdb.yaml
  charts/victoria-metrics-operator/templates/rb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

vmalert: use common templates (#1635)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/alertmanager-pvc.yaml
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/clusterrolebinding.yaml
  charts/victoria-metrics-alert/templates/server-alerts-configmap.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-alert/templates/server-pdb.yaml
  charts/victoria-metrics-alert/templates/server-service.yaml
  charts/victoria-metrics-alert/templates/service-monitor.yaml
  charts/victoria-metrics-alert/templates/serviceaccount.yaml
  charts/victoria-metrics-alert/templates/vpa.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

vmalert: fixes after refactoring
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
Labels: alert, single

vmalert: fixes after refactoring (#1643)
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
Labels: alert, single

common: modify vm.managed.fullname prefixes
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

single: allow overriding pvc names for deployment
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/values.yaml
Labels: single, logs-single

vmagent: new release
  charts/victoria-metrics-agent/Chart.yaml
Labels: agent

vmagent: new release (#1648)
  charts/victoria-metrics-agent/Chart.yaml
Labels: agent

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

Automatic update CHANGELOGs and READMEs (#1649)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

Synchronize docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

single: allow overriding pvc names for deployment (#1647)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/values.yaml
Labels: single, logs-single

common: modify vm.managed.fullname prefixes (#1644)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none
