Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

fixed PVC in statefulset (#1402)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: agent, cluster, k8s-stack, single, anomaly, logs-single

upgrade operator and decrement k8s stack temporary
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: k8s-stack, operator

upgrade operator and decrement k8s stack temporary (#1403)
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: k8s-stack, operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, cluster, k8s-stack, operator, single, anomaly, logs-single

Automatic update CHANGELOGs and READMEs (#1404)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, cluster, operator, single, anomaly, logs-single

Synchronize docs (#1405)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, cluster, operator, single, anomaly, logs-single

k8s-stack: new release
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

k8s-stack: new release (#1406)
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1407)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1408)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

charts/k8s-stack: add doc for external Grafana usage
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack

charts/k8s-stack: add doc for external Grafana usage (#1411)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1412)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

fixed dashboards, added a note regarding server-side apply for dashboards
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/node-exporter-full.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

updated doc
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

updated doc
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack

updated link
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Added a note about to big dashboards rendering, fixed chart dashboards (#1410)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/node-exporter-full.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1416)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1415)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

replaced template with include
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-single/templates/clusterrole.yaml
Labels: agent, single

fixed template
  charts/victoria-metrics-operator/templates/_helpers.tpl
Labels: operator

updated dependency of distributed chart
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/templates/_helpers.tpl
  charts/victoria-metrics-distributed/templates/per-az/vmagent.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-proxy.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-write-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmcluster.yaml
Labels: none

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, anomaly

Synchronize docs (#1418)
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, anomaly

fix
  Makefile
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/README.md.gotmpl
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/hack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
  charts/victoria-metrics-single/values.yaml
  hack/docs/Dockerfile
  hack/docs/template.tmpl
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

updated docs
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/values.yaml
Labels: agent, alert, cluster, k8s-stack, operator, anomaly, logs-single

fixed docker
  Makefile
  hack/docs/Dockerfile
Labels: none

Added spec params description (#1245)
  Makefile
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/README.md.gotmpl
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/hack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
  charts/victoria-metrics-single/values.yaml
  hack/docs/Dockerfile
  hack/docs/template.tmpl
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single
