Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*

Update charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Update charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

v1.11 version modification
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

Added new k8s convention
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.pod_owner.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: fix remoteWrite URLs templating (#886)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#889)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#890)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

v1.11 version modification (#888)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs (#891)
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#892)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Add HPA support for VMAgent (#863)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Synchronize docs
  charts/victoria-metrics-agent/README.md
Labels: agent

charts/victoria-metrics-agent: follow-up for #863
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Removed double enabled bool
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

Removed enabled on k8s rules
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.pod_owner.yaml
Labels: k8s-stack

charts/victoria-metrics-agent: follow-up for #863 (#895)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Synchronize docs
  charts/victoria-metrics-agent/README.md
Labels: agent

charts/vmauth: changes ready httpGet probe with tcpSocket (#858)
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
Labels: auth

victoria-metrics-alert: Fix possible null value on flag `notifier.url`, `remoteRead.url` and `remoteWrite.url` in vmalert deployment.
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

victoria-metrics-alert: Fix possible null value on flag `notifier.url`, `remoteRead.url` and `remoteWrite.url` in vmalert deployment. (#897)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

[victoria-metrics-alert] Fix alertmanager using server's values
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
Labels: agent, alert

[victoria-metrics-alert] Fix alertmanager using server's values (#898)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
Labels: agent, alert

Synchronize docs
  charts/victoria-metrics-agent/README.md
Labels: agent

charts/victoria-metrics-alert: release bugfixes
  charts/victoria-metrics-alert/Chart.yaml
Labels: alert

Synchronize docs (#899)
  charts/victoria-metrics-agent/README.md
Labels: agent

charts/victoria-metrics-alert: release bugfixes (#900)
  charts/victoria-metrics-alert/Chart.yaml
Labels: alert

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

Automatic update CHANGELOGs and READMEs (#902)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

Synchronize docs
  charts/victoria-metrics-alert/README.md
Labels: alert

Synchronize docs (#903)
  charts/victoria-metrics-alert/README.md
Labels: alert

Revert to group k8s rule
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

Revert to group k8s rule 2/2
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.pod_owner.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/_rules.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#892)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly
