Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

updated formatting
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/clusterrolebinding.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/serviceaccount.yaml
  charts/victoria-metrics-alert/templates/vpa.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

updated readme
  charts/victoria-metrics-alert/README.md
Labels: alert

added cluster podLabels support
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

added cluster podLabels support (#1441)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1443)
  charts/victoria-metrics-cluster/CHANGELOG.md
Labels: cluster

Synchronize docs (#1442)
  charts/victoria-metrics-cluster/README.md
Labels: cluster

charts/victoria-metrics-alert: remove license args for AM
  charts/victoria-metrics-alert/templates/_helpers.tpl
Labels: alert

fixed alertmanager ipv6 compatibility (#1440)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/clusterrolebinding.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/serviceaccount.yaml
  charts/victoria-metrics-alert/templates/vpa.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Synchronize docs
  charts/victoria-metrics-alert/README.md
Labels: alert

charts/victoria-metrics-alert: remove license args for AM (#1444)
  charts/victoria-metrics-alert/templates/_helpers.tpl
Labels: alert

Synchronize docs (#1445)
  charts/victoria-metrics-alert/README.md
Labels: alert

cluster: fixed priority class name
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
Labels: cluster

cluster: fixed priority class name (#1446)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
Labels: cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1447)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs (#1448)
  charts/victoria-metrics-cluster/README.md
Labels: cluster

fixed proto, when TLS is enabled
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

fixed proto, when TLS is enabled (#1451)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1452)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1453)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

do not truncate names of resources to prevent collision
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/templates/grafana-datasource.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: alert, k8s-stack, operator

updated webhook service port
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

fixed alertmanager custom configSecret issue
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: alert, k8s-stack

updated changelog
  charts/victoria-metrics-operator/CHANGELOG.md
Labels: operator

updated webhook service port (#1460)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

fix operator Role creation when only watching own namespace using `watchNamespaces`
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/role.yaml
Labels: operator

do not truncate names of resources to prevent collision (#1457)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/templates/grafana-datasource.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: alert, k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: alert, k8s-stack

Synchronize docs (#1462)
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: alert, k8s-stack

release operator first
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: k8s-stack, operator

release operator first (#1463)
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: k8s-stack, operator

Update index.yaml
  index.yaml
Labels: none
