Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

create vm pr before gh-pages checkout (#1515)
  .github/workflows/update-docs.yaml
Labels: none

updated changelog uris
  .github/workflows/update-docs.yaml
  charts/victoria-logs-single/_changelog.md
  charts/victoria-metrics-agent/_changelog.md
  charts/victoria-metrics-alert/_changelog.md
  charts/victoria-metrics-anomaly/_changelog.md
  charts/victoria-metrics-auth/_changelog.md
  charts/victoria-metrics-cluster/_changelog.md
  charts/victoria-metrics-distributed/_changelog.md
  charts/victoria-metrics-gateway/_changelog.md
  charts/victoria-metrics-k8s-stack/_changelog.md
  charts/victoria-metrics-operator/_changelog.md
  charts/victoria-metrics-single/_changelog.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

updated push condition
  .github/workflows/update-docs.yaml
Labels: none

updated changelog uris (#1516)
  .github/workflows/update-docs.yaml
  charts/victoria-logs-single/_changelog.md
  charts/victoria-metrics-agent/_changelog.md
  charts/victoria-metrics-alert/_changelog.md
  charts/victoria-metrics-anomaly/_changelog.md
  charts/victoria-metrics-auth/_changelog.md
  charts/victoria-metrics-cluster/_changelog.md
  charts/victoria-metrics-distributed/_changelog.md
  charts/victoria-metrics-gateway/_changelog.md
  charts/victoria-metrics-k8s-stack/_changelog.md
  charts/victoria-metrics-operator/_changelog.md
  charts/victoria-metrics-single/_changelog.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

updated charts documentation
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/README.md.gotmpl
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
  hack/docs/template.tmpl
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

fixed general doc
  README.md
Labels: none

fixed typo
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
  hack/docs/template.tmpl
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

fixed index pages urls
  _index.md
  charts/victoria-logs-single/_index.md
  charts/victoria-metrics-agent/_index.md
  charts/victoria-metrics-alert/_index.md
  charts/victoria-metrics-anomaly/_index.md
  charts/victoria-metrics-auth/_index.md
  charts/victoria-metrics-cluster/_index.md
  charts/victoria-metrics-distributed/_index.md
  charts/victoria-metrics-gateway/_index.md
  charts/victoria-metrics-k8s-stack/_index.md
  charts/victoria-metrics-operator/_index.md
  charts/victoria-metrics-single/_index.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

fixed index pages urls (#1517)
  _index.md
  charts/victoria-logs-single/_index.md
  charts/victoria-metrics-agent/_index.md
  charts/victoria-metrics-alert/_index.md
  charts/victoria-metrics-anomaly/_index.md
  charts/victoria-metrics-auth/_index.md
  charts/victoria-metrics-cluster/_index.md
  charts/victoria-metrics-distributed/_index.md
  charts/victoria-metrics-gateway/_index.md
  charts/victoria-metrics-k8s-stack/_index.md
  charts/victoria-metrics-operator/_index.md
  charts/victoria-metrics-single/_index.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

pr comments
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

updated charts documentation (#1487)
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/README.md.gotmpl
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
  hack/docs/template.tmpl
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

added vmauth to k8s-stack (#1488)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

k8s-stack: use path prefix from args as a default ingress path (#1496)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

bump k8s-stack version
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

k8s-stack: check notifier.blackhole flag if no notifiers are set in vmalert (#1518)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1519)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

docs updates
  _index.md
Labels: none

docs menu move pageRef to menu section
  _index.md
Labels: none

docs updates (#1521)
  _index.md
Labels: none

fixed docs images and links
  Makefile
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-distributed/img/victoriametrics-distributed-topology.drawio
  charts/victoria-metrics-distributed/img/victoriametrics-distributed-topology.webp
  charts/victoria-metrics-distributed/victoriametrics-distributed-topology.png
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/img/k8s-stack-overview.png
  charts/victoria-metrics-k8s-stack/img/k8s-stack-overview.webp
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
  hack/docs/Dockerfile
  hack/docs/template.tmpl
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

sort targets of operator's cleanup job
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: operator

sort targets of operator's cleanup job (#1523)
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: operator

fixed style
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
  hack/docs/template.tmpl
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

docs cleanup
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

added more docs
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

fixed docs images and links (#1522)
  Makefile
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-distributed/img/victoriametrics-distributed-topology.drawio
  charts/victoria-metrics-distributed/img/victoriametrics-distributed-topology.webp
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-distributed/victoriametrics-distributed-topology.png
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/img/k8s-stack-overview.png
  charts/victoria-metrics-k8s-stack/img/k8s-stack-overview.webp
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
  hack/docs/Dockerfile
  hack/docs/template.tmpl
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

fixed docs images and links
  charts/victoria-logs-single/README.md
Labels: logs-single

fixed style
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
Labels: agent

added more docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
Labels: agent

added more docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, anomaly

Updated chart docs (#1524)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, anomaly, logs-single

Synchronize docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: agent, alert, auth, cluster, k8s-stack, anomaly

cluster: use autodiscovered nodes, allow setting external nodes
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/NOTES.txt
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/hpa.yaml
  charts/victoria-metrics-cluster/templates/ingress.yaml
  charts/victoria-metrics-cluster/templates/pdb.yaml
  charts/victoria-metrics-cluster/templates/service-monitor.yaml
  charts/victoria-metrics-cluster/templates/service.yaml
  charts/victoria-metrics-cluster/templates/serviceaccount.yaml
  charts/victoria-metrics-cluster/templates/vmauth-config.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-hpa.yaml
  charts/victoria-metrics-cluster/templates/vminsert-ingress.yaml
  charts/victoria-metrics-cluster/templates/vminsert-pdb.yaml
  charts/victoria-metrics-cluster/templates/vminsert-service.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-hpa.yaml
  charts/victoria-metrics-cluster/templates/vmselect-ingress.yaml
  charts/victoria-metrics-cluster/templates/vmselect-pdb.yaml
  charts/victoria-metrics-cluster/templates/vmselect-service-monitor.yaml
  charts/victoria-metrics-cluster/templates/vmselect-service.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-pdb.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-service-monitor.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-service.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

fixed default fluentbit config, use headers instead of query args
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
