Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1725)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

updated log msg field
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

updated common chart (#1723)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster, logs-single

Automatic update CHANGELOGs and READMEs (#1726)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster, logs-single

operator: added crds.enabled flag
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

operator: added crds.enabled flag (#1731)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-logs-single/README.md
Labels: logs-single

Automatic update operator crds from VictoriaMetrics/operator@593d523
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
Labels: operator

Automatic update operator crds from VictoriaMetrics/operator@593d523 (#1733)
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
Labels: operator

added configmap template
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-alerts-configmap.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/configmap.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
Labels: agent, alert

added configmap template (#1735)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-alerts-configmap.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/configmap.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
Labels: agent, alert

vmagent: fixed statefulset variable name typo, new releases for vmalert and vmagent
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/Chart.yaml
Labels: agent, alert

vmagent: fixed statefulset variable name typo, new releases for vmalert and vmagent (#1736)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/Chart.yaml
Labels: agent, alert

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

Automatic update CHANGELOGs and READMEs (#1737)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

Synchronize docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

charts/vmanomaly: update to v1.18.1
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

charts/vmanomaly: update to v1.18.1 (#1738)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#1739)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

common: added overrideKey to support different override keys for plain an managed resources, clarified params in docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, single, anomaly

common: added overrideKey to support different override keys for plain an managed resources, clarified params in docs (#1732)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, single, anomaly

Synchronize docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, single, anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1741)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

common: fixed vm.plain.fullname suffix
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

common: fixed vm.plain.fullname suffix (#1742)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

Automatic update CHANGELOGs and READMEs (#1743)
  charts/victoria-metrics-common/CHANGELOG.md
Labels: none

operator: disable cleanup, when crds.enabled: false
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
Labels: operator

common: do not append default key if custom overrideKey is not set
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: agent, alert, auth, cluster, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
