Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

charts/vmanomaly: fix old release version in CHANGELOG.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
Labels: anomaly

charts/vmanomaly: fix old release version in CHANGELOG.md (#1603)
  charts/victoria-metrics-anomaly/CHANGELOG.md
Labels: anomaly

migrate hacks to root
  Makefile
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/files/dashboards/generated/victorialogs.yaml
  charts/victoria-logs-single/files/dashboards/victorialogs.yaml
  charts/victoria-logs-single/files/rules/generated/vlogs.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-burnrate.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-histogram.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-slos.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-scheduler.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-scheduler.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vlogs/vlogs.yml
  charts/victoria-metrics-k8s-stack/values.yaml
  hack/rules-and-dashboards/Dockerfile
  hack/rules-and-dashboards/Makefile
  hack/rules-and-dashboards/requirements.txt
  hack/rules-and-dashboards/sync_dashboards.py
  hack/rules-and-dashboards/sync_rules.py
Labels: k8s-stack, logs-single

updated app version in logs chart
  charts/victoria-logs-single/Chart.yaml
Labels: logs-single

charts/victoria-metrics-k8s-stack: add info about adding external dashboards
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: add changelog entry about changed dashboards config
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: add info about adding external dashboards (#1604)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, anomaly

moved custom datasources out of grafana section, use vmauth if it's enabled
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-cluster/templates/NOTES.txt
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: cluster, k8s-stack, logs-single

addressed pr comments
  charts/victoria-logs-single/files/dashboards/generated/victorialogs.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-api-server.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-nodes.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/node-exporter-full.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/proxy.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/scheduler.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  hack/rules-and-dashboards/sync_dashboards.py
Labels: k8s-stack, logs-single

charts/vmanomaly: update app to v1.17.1
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

charts/vmanomaly: update app to v1.17.1 (#1605)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

cluster: fixed hpa template name
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/hpa.yaml
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1606)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

cluster: fixed hpa template name (#1607)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/hpa.yaml
Labels: cluster

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1608)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

cluster: fixed service account annotations
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/serviceaccount.yaml
Labels: cluster

cluster: fixed service account annotations (#1609)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/serviceaccount.yaml
Labels: cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1610)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

cluster: vmbackupmanager fixed args
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  hack/helm/victoria-metrics-cluster/lint/simple.yaml
Labels: cluster

cluster: vmbackupmanager fixed args (#1611)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  hack/helm/victoria-metrics-cluster/lint/simple.yaml
Labels: cluster

cluster: 0.14.5
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

cluster: 0.14.5 (#1612)
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1613)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

vlogs: multiple fluentbit outputs when replica count is greater than 1
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/templates/NOTES.txt
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/templates/pdb.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

latest app version
  charts/victoria-logs-single/Chart.yaml
Labels: logs-single

vlogs: add fluent-bit output for each vlogs replica, set app version to 0.37.0 (#1614)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/NOTES.txt
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/templates/pdb.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
