Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1685)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

added podLabels to all charts and disabled passing extraLabels for pods
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
Labels: agent, alert, auth, operator, anomaly, logs-single

set default dns domain for all charts
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

k8s-stack: fixed vmauth spec context
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

k8s-stack: fixed vmauth spec context (#1690)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1691)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

added json parsing
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

Update charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/CHANGELOG.md
Labels: agent

common: added flag to disable name truncation
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

added podLabels to all charts and disabled passing extraLabels for pods (#1688)
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
Labels: agent, alert, auth, operator, anomaly, logs-single

made service port configurable
  charts/victoria-logs-single/templates/extra-outputs.yaml
Labels: logs-single

ci script fix
  .github/workflows/release.yaml
Labels: none

new releases
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, auth, single

logs: added json parsing (#1692)
  .github/workflows/release.yaml
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, auth, single, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, single, anomaly, logs-single

Automatic update CHANGELOGs and READMEs (#1694)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, single, anomaly, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, single, anomaly, logs-single

fixed args in common chart, made vlogs fields configurable
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_pod.tpl
Labels: logs-single

set default dns domain for all charts (#1689)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_pod.tpl
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Automatic update CHANGELOGs and READMEs (#1696)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

common: added flag to disable name truncation (#1686)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

updated common dependency
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

updated common dependency (#1697)
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1698)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

removed unused chart index from master
  index.yaml
Labels: none

single: fixed ability to pass a custom scrape config
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: single, logs-single

removed unused chart index from master (#1703)
  index.yaml
Labels: none

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
