Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

charts: bump version of VM components to v1.105.0
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, alert, auth, cluster, k8s-stack, single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

Automatic update CHANGELOGs and READMEs (#1615)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

vmagent: reuse common templates
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/clusterrole.yaml
  charts/victoria-metrics-agent/templates/clusterrolebinding.yaml
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-agent/templates/pdb.yaml
  charts/victoria-metrics-agent/templates/pvc.yaml
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/templates/serviceaccount.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
Labels: agent

vmgateway: reuse common templates
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/configmap.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-gateway/templates/pdb.yaml
  charts/victoria-metrics-gateway/templates/service-monitor.yaml
  charts/victoria-metrics-gateway/templates/service.yaml
  charts/victoria-metrics-gateway/templates/serviceaccount.yaml
Labels: none

chart/vmanomaly - appVersion 1.17.2
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

chart/vmanomaly - appVersion 1.17.2 (#1620)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

vmgateway: reuse common templates (#1618)
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/configmap.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-gateway/templates/pdb.yaml
  charts/victoria-metrics-gateway/templates/service-monitor.yaml
  charts/victoria-metrics-gateway/templates/service.yaml
  charts/victoria-metrics-gateway/templates/serviceaccount.yaml
Labels: none

vmagent: reuse common templates (#1617)
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/clusterrole.yaml
  charts/victoria-metrics-agent/templates/clusterrolebinding.yaml
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-agent/templates/pdb.yaml
  charts/victoria-metrics-agent/templates/pvc.yaml
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/templates/serviceaccount.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
Labels: agent

operator: moved CRD to subchart (#1560)
  .gitignore
  charts/victoria-metrics-k8s-stack/.gitignore
  charts/victoria-metrics-k8s-stack/charts/crds
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/charts/crds/Chart.yaml
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator, anomaly

select if CRDs should be rendered as plain or as templates
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/charts/crds
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, k8s-stack, operator, single, anomaly

Automatic update CHANGELOGs and READMEs (#1621)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator, anomaly

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-operator/README.md
Labels: operator, anomaly

vmauth: reuse common templates
  charts/victoria-metrics-auth/templates/NOTES.txt
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-auth/templates/pdb.yaml
  charts/victoria-metrics-auth/templates/secret.yaml
  charts/victoria-metrics-auth/templates/service-monitor.yaml
  charts/victoria-metrics-auth/templates/service.yaml
  charts/victoria-metrics-auth/templates/serviceaccount.yaml
Labels: auth

select if CRDs should be rendered as plain or as templates (#1459)
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/charts/crds
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/Chart.lock
Labels: agent, alert, auth, k8s-stack, single, anomaly

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1621)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/templates/NOTES.txt
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/clusterrole.yaml
  charts/victoria-metrics-single/templates/clusterrolebinding.yaml
  charts/victoria-metrics-single/templates/pdb.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/templates/serviceaccount.yaml
  charts/victoria-metrics-single/values.yaml
Labels: operator, single, anomaly

vmcluster: use common templates
  charts/victoria-metrics-cluster/templates/NOTES.txt
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/extra-secrets.yaml
  charts/victoria-metrics-cluster/templates/hpa.yaml
  charts/victoria-metrics-cluster/templates/ingress.yaml
  charts/victoria-metrics-cluster/templates/pdb.yaml
  charts/victoria-metrics-cluster/templates/service-monitor.yaml
  charts/victoria-metrics-cluster/templates/service.yaml
  charts/victoria-metrics-cluster/templates/serviceaccount.yaml
  charts/victoria-metrics-cluster/templates/vmauth-config.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
Labels: cluster

common: added vm.podLabels template
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, logs-single

vmauth: reuse common templates (#1622)
  charts/victoria-metrics-auth/templates/NOTES.txt
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-auth/templates/pdb.yaml
  charts/victoria-metrics-auth/templates/secret.yaml
  charts/victoria-metrics-auth/templates/service-monitor.yaml
  charts/victoria-metrics-auth/templates/service.yaml
  charts/victoria-metrics-auth/templates/serviceaccount.yaml
Labels: auth

common: added vm.podLabels template (#1624)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

vlogs: user service name for single replica and deployment
  charts/victoria-logs-single/templates/extra-outputs.yaml
Labels: logs-single

added hot-reload
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

k8s-stack: fixed default alertmanager template in additionalNotifiersConfig
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

disabled HA for deployment
  charts/victoria-logs-single/templates/server-deployment.yaml
Labels: logs-single

added ability to override vmauth configs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

vlogs: use service url for single replica and deployment (#1625)
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

added ability to override vmauth configs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

common: vm.fullname do not add default prefix/suffix, when <component>.fullnameOverride is defined
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

common: vm.fullname do not add default prefix/suffix, when <component>.fullnameOverride is defined (#1629)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

k8s-stack: fixed default alertmanager template in additionalNotifiersConfig (#1627)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-common/CHANGELOG.md
Labels: logs-single

Automatic update CHANGELOGs and READMEs (#1630)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-common/CHANGELOG.md
Labels: logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
