Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

Automatic update CHANGELOGs and READMEs (#1583)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

k8s-stack: new release
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

k8s-stack: new release (#1584)
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1585)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

distributed: update k8s-stack dependency
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
Labels: none

distributed: update k8s-stack dependency (#1586)
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
Labels: none

fixed default cluster components image tag template
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

fixed default cluster components image tag template (#1588)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1589)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

k8s-stack: updated alertmanager.rules condition
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

k8s-stack: updated alertmanager.rules condition (#1594)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

common: use <appRoo>.fullnameOverride as alternative source for resource name prefix
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
Labels: none

fixed template context issues
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Automatic update operator crds from VictoriaMetrics/operator@c79edba
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/crd.yaml
Labels: k8s-stack, operator

Automatic update operator crds from VictoriaMetrics/operator@c79edba (#1596)
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/crd.yaml
Labels: k8s-stack, operator

charts/operator: updates to v0.48.4 release
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
Labels: operator

common: use <appSection>.fullnameOverride as alternative source for resource name prefix (#1595)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/k8s-stack: updates vm-operator to v0.48.4 release
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#1600)
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

operator: moved CRD to subchart
  .gitignore
  charts/victoria-metrics-k8s-stack/.gitignore
  charts/victoria-metrics-k8s-stack/charts/crds
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/charts/crds/Chart.yaml
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

k8s-stack: added alertmanager datasource and victorialogs dashboard
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victorialogs.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

vlogs: added grafana dashboard
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/files/dashboards/victorialogs.yaml
  charts/victoria-logs-single/templates/dashboard.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-api-server.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-nodes.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/node-exporter-full.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/proxy.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/scheduler.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victorialogs.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, logs-single

added vlogs to k8s-stack
  charts/victoria-logs-single/templates/dashboard.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-api-server.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-nodes.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/node-exporter-full.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/proxy.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/scheduler.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victorialogs.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vlogs/vlogs.yml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, logs-single

updated readme
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, logs-single

charts/vmanomaly: appVersion 1.17.0
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

charts/vmanomaly: appVersion 1.17.0 (#1602)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
