Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1239)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

added ability to customize emptyDir, which is used either as storage or for caching purposes
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: agent, alert, cluster, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

typo fix
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
Labels: agent, alert, logs-single

Synchronize docs (#1241)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

charts/victoria-metrics-cluster: fix templating of ingress port
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vminsert-ingress.yaml
Labels: cluster

charts/victoria-metrics-cluster: fix templating of ingress port (#1242)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vminsert-ingress.yaml
Labels: cluster

added ability to customize emptyDir, which is used either as storage or for caching purposes (#1240)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: agent, alert, cluster, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-cluster/README.md
Labels: agent, alert, cluster, logs-single

Synchronize docs (#1243)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-cluster/README.md
Labels: agent, alert, cluster, logs-single

🐛 fix: include alertmanager path prefix in vmalert config
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Update charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

merged headless and non-headless services, added healthCheckNodePort and externalTrafficPolicy variables
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-service-headless.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/server-service.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/service.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vminsert-service.yaml
  charts/victoria-metrics-cluster/templates/vmselect-service-headless.yaml
  charts/victoria-metrics-cluster/templates/vmselect-service.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-service.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/templates/service.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/server-service-headless.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, operator, single, logs-single

fixed extra labels rendering
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

merged headless and non-headless services, added healthCheckNodePort and externalTrafficPolicy variables (#1249)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-service-headless.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/server-service.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/service.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vminsert-service.yaml
  charts/victoria-metrics-cluster/templates/vmselect-service-headless.yaml
  charts/victoria-metrics-cluster/templates/vmselect-service.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-service.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/templates/service.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/server-service-headless.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, operator, single, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, logs-single

Synchronize docs (#1251)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, logs-single

Update CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

🐛 fix: include alertmanager path prefix in vmalert config (#1246)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

added global license configuration
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
  hack/helm/victoria-metrics-k8s-stack/e2e/simple.yaml
Labels: k8s-stack

use static container names
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

added operator service scrape config params to readme
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

use static container names (#1233)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

added global license configuration (#1252)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
  hack/helm/victoria-metrics-k8s-stack/e2e/simple.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1254)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

fixed extra labels rendering (#1250)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

fixed kubedns servicemonitor template
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kubedns.yaml
Labels: k8s-stack

removed old ingress api versions
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vminsert-ingress.yaml
  charts/victoria-metrics-cluster/templates/vmselect-ingress.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-insert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-select.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/ingress.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-ingress.yaml
  hack/helm/victoria-metrics-k8s-stack/e2e/simple.yaml
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

docs update
  charts/victoria-metrics-single/values.yaml
Labels: single

removed old ingress api versions (#1257)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vminsert-ingress.yaml
  charts/victoria-metrics-cluster/templates/vmselect-ingress.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-insert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-select.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/ingress.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/values.yaml
  hack/helm/victoria-metrics-k8s-stack/e2e/simple.yaml
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

fixed kubedns servicemonitor template (#1256)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kubedns.yaml
Labels: k8s-stack

added operator service scrape config params to readme (#1253)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs (#1258)
  charts/victoria-metrics-operator/README.md
Labels: operator

support both service port names and numbers in ingress
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-cluster/templates/vminsert-ingress.yaml
  charts/victoria-metrics-cluster/templates/vmselect-ingress.yaml
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
Labels: agent, alert, auth, cluster, single, logs-single

moved port type checking to common chart
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-cluster/templates/vminsert-ingress.yaml
  charts/victoria-metrics-cluster/templates/vmselect-ingress.yaml
  charts/victoria-metrics-common/templates/_ingress.tpl
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
  hack/helm/victoria-logs-single/lint/simple.yaml
  hack/helm/victoria-metrics-agent/e2e/simple.yaml
  hack/helm/victoria-metrics-agent/lint/simple.yaml
  hack/helm/victoria-metrics-alert/lint/simple.yaml
  hack/helm/victoria-metrics-auth/e2e/simple.yaml
  hack/helm/victoria-metrics-auth/lint/simple.yaml
  hack/helm/victoria-metrics-cluster/e2e/simple.yaml
  hack/helm/victoria-metrics-cluster/lint/simple.yaml
  hack/helm/victoria-metrics-gateway/e2e/simple.yaml
  hack/helm/victoria-metrics-gateway/lint/simple.yaml
  hack/helm/victoria-metrics-single/lint/simple.yaml
Labels: agent, alert, auth, cluster, single, logs-single

support both service port names and numbers in ingress (#1259)
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-cluster/templates/vminsert-ingress.yaml
  charts/victoria-metrics-cluster/templates/vmselect-ingress.yaml
  charts/victoria-metrics-common/templates/_ingress.tpl
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
  hack/helm/victoria-logs-single/lint/simple.yaml
  hack/helm/victoria-metrics-agent/e2e/simple.yaml
  hack/helm/victoria-metrics-agent/lint/simple.yaml
  hack/helm/victoria-metrics-alert/lint/simple.yaml
  hack/helm/victoria-metrics-auth/e2e/simple.yaml
  hack/helm/victoria-metrics-auth/lint/simple.yaml
  hack/helm/victoria-metrics-cluster/e2e/simple.yaml
  hack/helm/victoria-metrics-cluster/lint/simple.yaml
  hack/helm/victoria-metrics-gateway/e2e/simple.yaml
  hack/helm/victoria-metrics-gateway/lint/simple.yaml
  hack/helm/victoria-metrics-single/lint/simple.yaml
Labels: agent, alert, auth, cluster, single, logs-single

added ability to manage ip family settings in all charts
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/server-service.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/service.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vminsert-service.yaml
  charts/victoria-metrics-cluster/templates/vmselect-service.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-service.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/templates/service.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, operator, single, logs-single
