Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs (#1421)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

use operator's own service monitor
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

bump chart version
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

use operator's own service monitor (#1420)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1422)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1423)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

fixed alertmanager templates
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

bump version
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Fixed alertmanager templates (#1424)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#1425)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

cluster: fixed restore cmd args
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/_helpers.tpl
Labels: cluster

Synchronize docs (#1426)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

cluster: fixed restore cmd args (#1427)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/_helpers.tpl
Labels: cluster

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1428)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs (#1429)
  charts/victoria-metrics-cluster/README.md
Labels: cluster

cluster bugfix and drop empty endpoints from scrape
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
Labels: cluster, k8s-stack

cluster bugfix and drop empty endpoints from scrape (#1431)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
Labels: cluster, k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Automatic update CHANGELOGs and READMEs (#1432)
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Synchronize docs (#1433)
  charts/victoria-metrics-cluster/README.md
Labels: cluster

Add init container capability to initialize vmalert pod
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

changed commenting syntax & updated doc
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
Labels: alert

feature: Add initcontainer capability to initialize vmalert pod (#1435)
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Synchronize docs
  charts/victoria-metrics-alert/README.md
Labels: alert

removed deprecated api from rbac
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/clusterrole.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/clusterrole.yaml
Labels: agent, single

Synchronize docs (#1437)
  charts/victoria-metrics-alert/README.md
Labels: alert

removed deprecated api from autoscaling
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vminsert-hpa.yaml
  charts/victoria-metrics-cluster/templates/vmselect-hpa.yaml
Labels: agent, cluster

removed deprecated api from rbac (#1439)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/clusterrole.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vminsert-hpa.yaml
  charts/victoria-metrics-cluster/templates/vmselect-hpa.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/clusterrole.yaml
Labels: agent, cluster, single

fixed alertmanager ipv6 compatibility
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
Labels: alert

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*
