Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

fix typo in suppressStorageFQDNsRender, address #580
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

close or statement
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

ci: fix linting for vlogs-single
  .github/ci/helm-repos.yaml
  Makefile
Labels: none

ci: fix linting for vlogs-single (#582)
  .github/ci/helm-repos.yaml
  Makefile
Labels: none

feat(vmagent): Add support for topologySpreadConstraints field
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

feat(vmagent): Add support for topologySpreadConstraints field (#583)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

operator release v0.35.1
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/values.yaml
  index.yaml
  packages/victoria-metrics-operator-0.24.1.tgz
Labels: operator

make merge
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  index.yaml
  packages/victoria-metrics-k8s-stack-0.17.1.tgz
Labels: k8s-stack

charts/victoria-metrics-auth: add support of specifying extra labels (#577)
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  hack/helm/victoria-metrics-auth.yaml
  hack/vmauth-lint-hack.yaml
Labels: auth

charts/victoria-logs-single: fix STS render when using statefulset is disabled
  charts/victoria-logs-single/templates/server-statefulset.yaml
Labels: logs-single

charts/victoria-logs-single: add imagePullSecrets
  charts/victoria-logs-single/README.md
Labels: logs-single

feat(vmsingle): Add ability to deploy extra manifests
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/extra-objects.yaml
  charts/victoria-metrics-single/values.yaml
Labels: single

feat(vmsingle): Add ability to deploy extra manifests (#587)
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/extra-objects.yaml
  charts/victoria-metrics-single/values.yaml
Labels: single

charts/victoria-logs-single: add imagePullSecrets (#586)
  charts/victoria-logs-single/README.md
Labels: logs-single

charts/victoria-logs-single: fix STS render when using statefulset is disabled (#585)
  charts/victoria-logs-single/templates/server-statefulset.yaml
Labels: logs-single

Update liveness/readiness probes in deployment template with custom values for victoriametrics-alert (#549)
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

bump version of agent, alert, auth, cluster, single
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, alert, auth, cluster, single

make package merge gen-docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
  index.yaml
  packages/victoria-metrics-agent-0.9.0.tgz
  packages/victoria-metrics-alert-0.7.0.tgz
  packages/victoria-metrics-auth-0.3.0.tgz
  packages/victoria-metrics-cluster-0.10.0.tgz
  packages/victoria-metrics-single-0.9.0.tgz
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

Fixes operator doc description
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Remove repeated volumeMounts section
  charts/victoria-logs-single/templates/server-statefulset.yaml
Labels: logs-single

fix vm operator appVersion
  charts/victoria-metrics-operator/Chart.yaml
Labels: operator

fix vm operator appVersion (#589)
  charts/victoria-metrics-operator/Chart.yaml
Labels: operator

fix misused securityContext and podSecurityContext
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: alert, cluster, single, logs-single

fix typo in suppressStorageFQDNsRender, address #580 (#581)
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

fix misused securityContext and podSecurityContext (#592)
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: alert, cluster, single, logs-single

readme: update k8s versions mentioned in compatibility
  README.md
Labels: none

readme: update k8s versions mentioned in compatibility (#595)
  README.md
Labels: none

[vmstorage, vminsert] Add topoloogySpreadConstraints
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

vlogs-single: fix podSecurityContext and securityContext usage
  charts/victoria-logs-single/values.yaml
Labels: logs-single

vlogs-single: fix podSecurityContext and securityContext usage (#597)
  charts/victoria-logs-single/values.yaml
Labels: logs-single

vlogs-single: update to 0.3.0
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

Update VictoriaMetrics components from v1.91.3 to v1.92.0
  README.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
  index.yaml
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

Update VictoriaMetrics components from v1.92.0 to v1.92.1
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  index.yaml
  packages/victoria-logs-single-0.1.3.tgz
  packages/victoria-metrics-agent-0.9.2.tgz
  packages/victoria-metrics-alert-0.7.2.tgz
  packages/victoria-metrics-auth-0.3.2.tgz
  packages/victoria-metrics-cluster-0.10.3.tgz
  packages/victoria-metrics-gateway-0.1.41.tgz
  packages/victoria-metrics-k8s-stack-0.17.3.tgz
  packages/victoria-metrics-single-0.9.2.tgz
Labels: agent, alert, auth, cluster, k8s-stack, single

Update VictoriaMetrics components from v1.92.0 to v1.92.1 (#599)
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  index.yaml
  packages/victoria-logs-single-0.1.3.tgz
  packages/victoria-metrics-agent-0.9.2.tgz
  packages/victoria-metrics-alert-0.7.2.tgz
  packages/victoria-metrics-auth-0.3.2.tgz
  packages/victoria-metrics-cluster-0.10.3.tgz
  packages/victoria-metrics-gateway-0.1.41.tgz
  packages/victoria-metrics-k8s-stack-0.17.3.tgz
  packages/victoria-metrics-single-0.9.2.tgz
Labels: agent, alert, auth, cluster, k8s-stack, single

[vmstorage, vminsert] Add topoloogySpreadConstraints (#596)
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

delete an obsolete parameter remaining by mistake (see https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack#upgrade-to-0130)
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

delete an obsolete parameter remaining by mistake (see https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-k8s-stack#upgrade-to-0130) (#602)
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

charts/victoria-metrics-cluster: remove incorrect comment
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

charts/victoria-metrics-cluster: remove incorrect comment (#607)
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

Update VictoriaMetrics components from v1.92.1 to v1.93.0
  README.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
  index.yaml
  packages/victoria-metrics-agent-0.9.3.tgz
  packages/victoria-metrics-alert-0.7.3.tgz
  packages/victoria-metrics-auth-0.3.3.tgz
  packages/victoria-metrics-cluster-0.10.4.tgz
  packages/victoria-metrics-gateway-0.1.42.tgz
  packages/victoria-metrics-k8s-stack-0.17.4.tgz
  packages/victoria-metrics-single-0.9.3.tgz
Labels: agent, alert, auth, cluster, k8s-stack, single

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
