Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Update server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

Fix typo storage pods
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

Fix typo storage pods (#561)
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

charts/victoria-metrics-anomaly: make monitoring config more configurable
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/helm/victoria-metrics-anomaly.yaml
  hack/vmanomaly-lint-hack.yaml
Labels: anomaly

charts/victoria-logs-single: add fluentbit setup
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/values.yaml
Labels: logs-single

ci: add fluent into repos list for linter
  .github/ci/ct.yaml
Labels: none

charts/victoria-logs-single: add fluentbit setup (#563)
  .github/ci/ct.yaml
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/values.yaml
Labels: logs-single

add victoria-logs to build process, make package
  Makefile
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  packages/victoria-logs-single-0.0.1.tgz
Labels: logs-single

update readme + make merge
  README.md
  index.yaml
Labels: none

add logs to readme search
  README.md
Labels: none

fix the chart image and jsonline endpoint
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

make package merge
  README.md
  index.yaml
  packages/victoria-logs-single-0.1.0.tgz
Labels: none

charts/victoria-logs-single: template Host field
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/values.yaml
Labels: logs-single

charts/victoria-logs-single: template Host field (#566)
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/values.yaml
Labels: logs-single

make package index
  README.md
  index.yaml
  packages/victoria-logs-single-0.1.1.tgz
Labels: none

charts/victoria-metrics-anomaly: make monitoring config more configurable (#562)
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/helm/victoria-metrics-anomaly.yaml
  hack/vmanomaly-lint-hack.yaml
Labels: anomaly

bump vmanomaly remove tricky make command
  Makefile
  charts/victoria-metrics-anomaly/Chart.yaml
  index.yaml
  packages/victoria-metrics-anomaly-0.3.4.tgz
Labels: anomaly

charts/victoria-metrics-anomaly: fix monitoring config indentation
  charts/victoria-metrics-anomaly/templates/configmap.yaml
Labels: anomaly

charts/victoria-metrics-anomaly: fix monitoring config indentation (#567)
  charts/victoria-metrics-anomaly/templates/configmap.yaml
Labels: anomaly

make gen-docs package merge. bump version of vmanomaly
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-cluster/README.md
  index.yaml
  packages/victoria-metrics-anomaly-0.3.5.tgz
Labels: cluster, anomaly

Fix wrong condition on fluent-bit dependency
  charts/victoria-logs-single/Chart.yaml
Labels: logs-single

Fix wrong condition on fluent-bit dependency (#568)
  charts/victoria-logs-single/Chart.yaml
Labels: logs-single

make package merge. bump verioon of logs single
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  index.yaml
  packages/victoria-logs-single-0.1.2.tgz
Labels: logs-single

release v1.91.3
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/values.yaml
  index.yaml
  packages/victoria-metrics-agent-0.8.41.tgz
  packages/victoria-metrics-alert-0.6.4.tgz
  packages/victoria-metrics-auth-0.2.84.tgz
  packages/victoria-metrics-cluster-0.9.73.tgz
  packages/victoria-metrics-gateway-0.1.39.tgz
  packages/victoria-metrics-k8s-stack-0.16.4.tgz
  packages/victoria-metrics-single-0.8.64.tgz
Labels: agent, alert, auth, cluster, k8s-stack, single

updates operator for v0.35.0
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/values.yaml
  index.yaml
  packages/victoria-metrics-operator-0.24.0.tgz
Labels: operator

make merge
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/crds/crd.yaml
  index.yaml
Labels: k8s-stack

adds missing package
  packages/victoria-metrics-k8s-stack-0.17.0.tgz
Labels: none

feat(vm-alert): add notifier config support
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Add params configuration option for default rules
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/etcd.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-burnrate.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-histogram.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-slos.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-prometheus-general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-prometheus-node-recording.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-scheduler.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-controller-manager.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-scheduler.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-network.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vm-health.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/_rules.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

fix(vmagent): Use endpoints instead of endpointslices on kubernetes-apiservers
  charts/victoria-metrics-agent/values.yaml
Labels: agent

refactor
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

refactor
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

refactor: config mapping
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-notifier-configmap.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

charts/victoria-metrics-cluster: fix indent for vmselect statefulset
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

charts/victoria-metrics-cluster: fix indent for vmselect statefulset (#576)
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

fix(vmagent): Use endpoints instead of endpointslices on kubernetes-apiservers (#574)
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Feat: Add custom objects to vma helm charts (#558)
  charts/victoria-metrics-agent/templates/extra-objects.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

charts/victoria-metrics-auth: add support of specifying extra labels
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  hack/helm/victoria-metrics-auth.yaml
  hack/vmauth-lint-hack.yaml
Labels: auth

secret support
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-notifier-configmap.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

put it back
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
