Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs (#955)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

charts/operator: updates to v0.42.4 version
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

charts/k8s-stack updates operator to v0.42.3 and crds for it
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#956)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

vmstack: dashboards and rules upgrade, added minikube setup instructions (#952)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/values.minikube.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs (#958)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

ci: update install-chart ci k8s version
  .github/workflows/run-testing.yaml
  README.md
Labels: none

ci: update install-chart ci k8s version (#962)
  .github/workflows/run-testing.yaml
  README.md
Labels: none

Synchronize docs
  README.md
Labels: none

victoria-metrics-operator: sync new crd vmscrapeconfig from operator
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/role.yaml
Labels: operator

sync crd
  charts/victoria-metrics-operator/crd.yaml
Labels: operator

fix install test
  .github/workflows/run-testing.yaml
  charts/victoria-metrics-operator/crd.yaml
Labels: operator

victoria-metrics-operator: clean up vmauth when uninstall chart with `cleanupCRD: true`
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

fix test
  .github/workflows/run-testing.yaml
Labels: none

victoria-metrics-operator: sync new crd vmscrapeconfig from operator (#959)
  .github/workflows/run-testing.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/role.yaml
Labels: operator

victoria-metrics-operator: clean up vmauth when uninstall chart with … (#966)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

charts: update components to latest release 1.update VictoriaMetrics components to v1.100.1 2.update VictoriaLogs to 0.5.2
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

bump single chart version
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
Labels: single

charts: update components to latest release (#967)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

Synchronize docs
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

remove dup todo
  charts/victoria-metrics-single/CHANGELOG.md
Labels: single

Automatic update CHANGELOGs and READMEs (#969)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

add truncation to labels
  charts/victoria-metrics-cluster/templates/_helpers.tpl
Labels: cluster

charts/operator: updates to v0.44.0-rc2 version
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/operator: fixes typo at rbac vmscrapeconfig -> vmscrapeconfigs
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/cluster_role.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

add truncation to labels (#936)
  charts/victoria-metrics-cluster/templates/_helpers.tpl
Labels: cluster

Automatic update CHANGELOGs and READMEs (#970)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

Synchronize docs (#974)
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, operator, single, logs-single

introduce templating for container port name
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
