Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-agent/**/*
alert:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-alert/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-auth/**/*
cluster:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-cluster/**/*
k8s-stack:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-k8s-stack/**/*
operator:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-operator/**/*
single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-single/**/*
anomaly:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-metrics-anomaly/**/*
logs-single:
  - changed-files:
      - any-glob-to-any-file:
          - charts/victoria-logs-single/**/*

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

charts/victoria-metrics-operator: fix CRD naming in RBAC (#1325)
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Automatic update CHANGELOGs and READMEs (#1328)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs (#1327)
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs (#1329)
  charts/victoria-metrics-operator/README.md
Labels: operator

added configurable cluster label to alerts
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/general.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.pod_owner.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-burnrate.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-histogram.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-storage.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/node.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmoperator.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/hack/Makefile
  charts/victoria-metrics-k8s-stack/hack/README.md
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: k8s-stack, operator

added configurable cluster label to alerts (#1313)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/general.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.pod_owner.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-burnrate.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-histogram.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-storage.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/node.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmoperator.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/hack/Makefile
  charts/victoria-metrics-k8s-stack/hack/README.md
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#1331)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update operator crds from VictoriaMetrics/operator@
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/crd.yaml
Labels: k8s-stack, operator

Automatic update operator crds from VictoriaMetrics/operator@ (#1332)
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/crd.yaml
Labels: k8s-stack, operator

charts/operator: updates to v0.47.2 version
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#1333)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/operator: removes not implemented webhooks
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#1335)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/operator: rollback RBAC changes
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: operator

typo fix
  charts/victoria-metrics-operator/templates/cluster_role.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs (#1334)
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs (#1336)
  charts/victoria-metrics-operator/README.md
Labels: operator

Automatic update CHANGELOGs and READMEs (#1337)
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: operator

Synchronize docs
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/k8s-stack: updates operator to v0.47.2
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

Synchronize docs (#1338)
  charts/victoria-metrics-operator/README.md
Labels: operator

charts/operator: fixes typo at uninstall hook
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#1340)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs (#1341)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator
