Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Make alertmanager deployment more extensible
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

prepare release for operator chart with version 0.41.2
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

prepare release for operator chart with version 0.41.2 (#872)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-operator/README.md
Labels: operator, anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Automatic update CHANGELOGs and READMEs (#874)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: k8s-stack, operator

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-operator/README.md
Labels: operator, anomaly

Synchronize docs (#875)
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-operator/README.md
Labels: operator, anomaly

prepare release for k8s chart
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/charts/crds/.DS_Store
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

remove DS_Store
  charts/victoria-metrics-k8s-stack/charts/crds/.DS_Store
Labels: k8s-stack

prepare release for k8s chart (#876)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Automatic update CHANGELOGs and READMEs (#878)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs (#877)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Rename HPA and fix param type
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Make alertmanager deployment more extensible (#871)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Synchronize docs
  charts/victoria-metrics-alert/README.md
Labels: alert

Synchronize docs (#879)
  charts/victoria-metrics-alert/README.md
Labels: alert

charts/vmalert: follow-up for 01c5724e2b8da7282117b6232d4348882a0db69a
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
Labels: alert

charts/vmalert: follow-up for 01c5724e2b8da7282117b6232d4348882a0db69a (#880)
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Synchronize docs
  charts/victoria-metrics-alert/README.md
Labels: alert

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: alert

Automatic update CHANGELOGs and READMEs (#882)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: alert

Synchronize docs (#881)
  charts/victoria-metrics-alert/README.md
Labels: alert

charts/vmalert: allow overriding alertmanager listen addr
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

charts/vmalert: allow overriding alertmanager listen addr (#883)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: alert

Automatic update CHANGELOGs and READMEs (#884)
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: alert

Synchronize docs
  charts/victoria-metrics-alert/README.md
Labels: alert

Synchronize docs (#885)
  charts/victoria-metrics-alert/README.md
Labels: alert

charts/victoria-metrics-k8s-stack: fix remoteWrite URLs templating
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

ci: setup a license for vmanomaly chart testing
  .github/workflows/run-testing.yaml
  hack/helm/victoria-metrics-anomaly.yaml
Labels: none

ci: setup a license for vmanomaly chart testing (#887)
  .github/workflows/run-testing.yaml
  hack/helm/victoria-metrics-anomaly.yaml
Labels: none

Run sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.pod_owner.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/_rules.tpl
Labels: k8s-stack

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
