Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

revert changes for charts/victoria-metrics-single
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: single

revert changes for charts/victoria-metrics-single
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: single

change comment
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

change comments
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

fix: typo on whether
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

charts/victoria-metrics-cluster: support customize vmstorage VolumeClaimTemplate name
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

fix: typo on whether (#941)
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

fix value for retentionPerion and update docs (#937)
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, anomaly

charts/victoria-metrics-cluster: support customize vmstorage VolumeClaimTemplate name (#939)
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

Synchronize docs (#943)
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, anomaly

slice-extra-args-support
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: agent, alert, auth, cluster, operator, single

updated changelog
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: agent, alert, auth, cluster, operator, single

victoria-metrics-gateway: Add metricRelabelings value
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/templates/service-monitor.yaml
  charts/victoria-metrics-gateway/values.yaml
Labels: none

victoria-metrics-alert: Add metricRelabelings value
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/service-monitor.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

victoria-metrics-cluster: Add metricRelabelings value
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vminsert-service-monitor.yaml
  charts/victoria-metrics-cluster/templates/vmselect-service-monitor.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-service-monitor.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

victoria-metrics-auth: Add metricRelabelings value
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/service-monitor.yaml
  charts/victoria-metrics-auth/values.yaml
Labels: auth

victoria-metrics-agent: Add metricRelabelings value
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

victoria-metrics-single: Add metricRelabelings value
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/values.yaml
Labels: single

victoria-logs-single: Add metricRelabelings value
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

Add `metricRelabelings` values to helm charts (#946)
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/service-monitor.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/service-monitor.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vminsert-service-monitor.yaml
  charts/victoria-metrics-cluster/templates/vmselect-service-monitor.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-service-monitor.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/templates/service-monitor.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, single, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, single, logs-single

extraArgs slice args support (#944)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: agent, alert, auth, cluster, operator, single

prepare to relase
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, alert, auth, cluster, operator, single, logs-single

prepare to relase (#948)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, alert, auth, cluster, operator, single, logs-single

Synchronize docs (#947)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, single, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, logs-single

Automatic update CHANGELOGs and READMEs (#949)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, logs-single

👷 Validate with kubectl before install
  .github/workflows/run-testing.yaml
Labels: none

💚 Validate manifests after install
  .github/workflows/run-testing.yaml
Labels: none

upgraded rules and dashboards, added notes for setting up vmstack in minikube
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/values.minikube.yaml
Labels: k8s-stack

vmanomaly: use v1.12 as a default
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

vmanomaly: use v1.12 as a default (#953)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Automatic update CHANGELOGs and READMEs (#954)
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

added changelog entry
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*
