Repository VictoriaMetrics/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: agent, alert, auth, cluster, k8s-stack, operator, single, anomaly, logs-single

.github/labeler.yaml:

agent: 
  - charts/victoria-metrics-agent/**/*
alert: 
  - charts/victoria-metrics-alert/**/*
auth: 
  - charts/victoria-metrics-auth/**/*
cluster: 
  - charts/victoria-metrics-cluster/**/*
k8s-stack: 
  - charts/victoria-metrics-k8s-stack/**/*
operator: 
  - charts/victoria-metrics-operator/**/*
single: 
  - charts/victoria-metrics-single/**/*
anomaly:
  - charts/victoria-metrics-anomaly/**/*
logs-single:
  - charts/victoria-logs-single/**/*

Revert "charts/vmauth: changes ready httpGet probe with tcpSocket (#858)"
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
Labels: auth

Revert "Automatic update CHANGELOGs and READMEs (#892)"
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Revert "v1.11 version modification (#888)"
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

Revert "prepare release for operator chart with version 0.41.2 (#872)"
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

Revert "Add HPA support for VMAgent (#863)"
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Revert "Automatic update CHANGELOGs and READMEs (#869)"
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Revert "Automatic update CHANGELOGs and READMEs (#902)"
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
Labels: agent, alert

Revert "charts/victoria-metrics-k8s-stack: fix remoteWrite URLs templating (#886)"
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

Revert "charts/victoria-metrics-agent: follow-up for #863 (#895)"
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
Labels: agent

Revert "charts/vmanomaly: fix passing license file path when passing license from secret (#868)"
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
Labels: anomaly

Revert "Automatic update CHANGELOGs and READMEs (#866)"
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/README.md
Labels: anomaly

Revert "charts/vmalert: follow-up for 01c5724e2b8da7282117b6232d4348882a0db69a (#880)"
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
Labels: alert

Added option to turn on/off k8s rules
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

Added rules files
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.pod_owner.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/_rules.tpl
Labels: k8s-stack

fix: HPA kind
  charts/victoria-metrics-agent/templates/hpa.yaml
Labels: agent

fix: HPA kind
  charts/victoria-metrics-agent/values.yaml
Labels: agent

fix: README
  charts/victoria-metrics-agent/README.md
Labels: agent

Fix: VMAgent HPA Kind (#905)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/hpa.yaml
Labels: agent

Synchronize docs
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

charts/victoria-metrics-agent: bump chart version for release
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
Labels: agent

operator: updates to v0.42.0 version
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: agent, k8s-stack, operator

[fix] Boolean for k8s rules (#904)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.container_resource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.pod_owner.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/_rules.tpl
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: release 0.19.3
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

charts/victoria-metrics-k8s-stack: release 0.19.3 (#909)
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

charts/victoria-metrics-agent: bump chart version for release (#907)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
Labels: agent

Automatic update CHANGELOGs and READMEs (#908)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
Labels: agent, k8s-stack, operator

Synchronize docs (#906)
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

Synchronize docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: agent, k8s-stack, operator

Synchronize docs (#910)
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
Labels: agent, k8s-stack, operator

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: agent, k8s-stack

Automatic update CHANGELOGs and READMEs (#911)
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
Labels: agent, k8s-stack

charts: update components to latest release
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

charts: update components to latest release (#912)
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

Synchronize docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

Update index.yaml
  index.yaml
Labels: none

Automatic update CHANGELOGs and READMEs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single

Synchronize docs (#913)
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, k8s-stack, single, logs-single
