Repository VictoriaMetrics/helm-charts, pull requests merged in 2021-09, with the labels that each got.

#146 Fix scrape config for kubernetes-service-endpoints
  charts/victoria-metrics-agent/values.yaml
Labels: agent

#219 updates k8s stack chart
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  index.yaml
  packages/victoria-metrics-agent-0.7.30.tgz
  packages/victoria-metrics-alert-0.4.7.tgz
  packages/victoria-metrics-auth-0.2.29.tgz
  packages/victoria-metrics-cluster-0.9.5.tgz
  packages/victoria-metrics-k8s-stack-0.5.2.tgz
  packages/victoria-metrics-operator-0.3.0.tgz
  packages/victoria-metrics-single-0.8.6.tgz
Labels: k8s-stack

#224 minor fixes to agent and alert service monitors
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/service-monitor.yaml
Labels: agent, alert

#227 updates operator and repo packages with make merge
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/values.yaml
  index.yaml
  packages/victoria-metrics-agent-0.7.31.tgz
  packages/victoria-metrics-alert-0.4.8.tgz
  packages/victoria-metrics-auth-0.2.30.tgz
  packages/victoria-metrics-cluster-0.9.6.tgz
  packages/victoria-metrics-k8s-stack-0.5.3.tgz
  packages/victoria-metrics-operator-0.3.1.tgz
  packages/victoria-metrics-single-0.8.8.tgz
Labels: k8s-stack, operator
