Repository VictoriaMetrics/helm-charts, pull requests merged in 2022-12, with the labels that each got.

#422 vmanomaly: add annotation for pods to trigger recreating pod after config change
  .github/labeler.yaml
  charts/victoria-metrics-anomaly/templates/deployment.yaml
Labels: anomaly

#432 reflect 1.0.0 breaking chnages in vmanomlay helm chart
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/templates/deployment.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: k8s-stack, agent, alert, auth, cluster, single, anomaly

#437 k8s-stack: fix ingress API check to be compatible with ArgoCD
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  hack/helm/victoria-metrics-k8s-stack.yaml
Labels: k8s-stack
