Repository VictoriaMetrics/helm-charts, pull requests merged in 2022-04, with the labels that each got.

#304 Vmgateway
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-single/README.md
Labels: k8s-stack, agent, alert, auth, cluster, single

#302 charts/victoria-metrics-k8s-stack: drops kubernetes high cardinality …
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors/nodeexporter.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#307 vmagent add cluster mode support
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  hack/vmagent-cluster-mode.yaml
Labels: agent
