Repository VictoriaMetrics/helm-charts, pull requests merged in 2022-11, with the labels that each got.

#397 {charts/victoria-metrics-cluster,charts/victoria-metrics-single}: add support of `vmbackupmanager` restore on pod start
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/values.yaml
Labels: cluster, single

#404 adds vmanomaly helm-chart
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/.helmignore
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/templates/deployment.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
Labels: enhancement

#411 fix: fix spacing for PDB resources in charts
  Makefile
  charts/victoria-metrics-agent/templates/pdb.yaml
  charts/victoria-metrics-alert/templates/server-pdb.yaml
  charts/victoria-metrics-auth/templates/pdb.yaml
  charts/victoria-metrics-cluster/templates/vminsert-pdb.yaml
  charts/victoria-metrics-cluster/templates/vmselect-pdb.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-pdb.yaml
  charts/victoria-metrics-gateway/templates/pdb.yaml
  charts/victoria-metrics-single/templates/pdb.yaml
  hack/vmagent-lint-hack.yaml
  hack/vmalert-lint-hack.yaml
  hack/vmauth-lint-hack.yaml
  hack/vmcluster-template-hack.yaml
  hack/vmgateway-cluster-ratelimiting-minimum.yaml
  hack/vmsingle-lint-hack.yaml
Labels: agent, alert, auth, cluster, single

#407 update vmanomaly chart: remove metric names customization, add more v…
  Makefile
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/NOTES.txt
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/templates/deployment.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
  hack/vmanomaly-lint-hack.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single

#415 followup after fbb3104ef5755750e5cecfc9153f3bf8ccb26ca1
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack
