Repository VictoriaMetrics/helm-charts, pull requests merged in 2023-05, with the labels that each got.

#527 add security context to vmbackupmanger
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: cluster, single

#545 charts/cluster: do not render empty securityContext
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
Labels: cluster

#542 Some improvements to Chart documentation
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: documentation, enhancement
