Repository VictoriaMetrics/helm-charts, pull requests merged in 2023-07, with the labels that each got.

#576 charts/victoria-metrics-cluster: fix indent for vmselect statefulset
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
Labels: cluster

#577 charts/victoria-metrics-auth: add support of specifying extra labels
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  hack/helm/victoria-metrics-auth.yaml
  hack/vmauth-lint-hack.yaml
Labels: auth

#585 charts/victoria-logs-single: fix STS render when using statefulset is disabled
  charts/victoria-logs-single/templates/server-statefulset.yaml
Labels: logs-single

#581 fix typo in suppressStorageFQDNsRender, address #580
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

#592 fix misused securityContext and podSecurityContext
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: alert, cluster, single, logs-single

#597 vlogs-single: fix podSecurityContext and securityContext usage
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#599 Update VictoriaMetrics components from v1.92.0 to v1.92.1
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  index.yaml
  packages/victoria-logs-single-0.1.3.tgz
  packages/victoria-metrics-agent-0.9.2.tgz
  packages/victoria-metrics-alert-0.7.2.tgz
  packages/victoria-metrics-auth-0.3.2.tgz
  packages/victoria-metrics-cluster-0.10.3.tgz
  packages/victoria-metrics-gateway-0.1.41.tgz
  packages/victoria-metrics-k8s-stack-0.17.3.tgz
  packages/victoria-metrics-single-0.9.2.tgz
Labels: k8s-stack, agent, alert, auth, cluster, single
