Repository VictoriaMetrics/helm-charts, pull requests merged in 2023-09, with the labels that each got.

#643 prepare for release
  .github/workflows/release.yaml
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#645 Dependency update
  charts/victoria-metrics-k8s-stack/Chart.lock
Labels: k8s-stack

#649 change legal limk
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/NOTES.txt
  charts/victoria-metrics-anomaly/templates/deployment.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: k8s-stack, cluster, operator, single, anomaly

#651 Updated CRDs in operator chart
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
Labels: operator

#654 Bump version of operator helm-chart to `0.26.2` (and update CRD) in k8s-stack
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
Labels: k8s-stack

#662 Prepare for release with VM components updated to 1.93.4
  README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, operator, single

#665 Prepare for release k8s-stack
  README.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#657 Updates in k8s-stack
  Makefile
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/RELEASE_GUIDE.md
  charts/victoria-metrics-k8s-stack/hack/requirements.txt
  charts/victoria-metrics-k8s-stack/hack/sync_grafana_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/backupmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-global.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/k8s-views-pods.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/operator.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/victoriametrics.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboards/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vm-health.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/_rules.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#676 add changelogs for #675 and #624
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-operator/CHANGELOG.md
Labels: alert, operator

#684 Fixed behavior of `vmalert.remoteWriteVMAgent`
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: bug, k8s-stack

#685 CHANGELOG post-release fix
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: k8s-stack, agent, alert, auth, cluster, single

#688 victoria-metrics-alert: fix notifier address if builtin alertmanager …
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
Labels: alert

#689 charts: add ability to provide extraObjects
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/extra-objects.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/extra-objects.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/extra-objects.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: alert, auth, cluster
