Repository VictoriaMetrics/helm-charts, pull requests merged in 2023-06, with the labels that each got.

#552 bump form 1.91.1 to 1.91.2
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
  index.yaml
  packages/victoria-metrics-agent-0.8.40.tgz
  packages/victoria-metrics-alert-0.6.3.tgz
  packages/victoria-metrics-anomaly-0.3.1.tgz
  packages/victoria-metrics-auth-0.2.83.tgz
  packages/victoria-metrics-cluster-0.9.70.tgz
  packages/victoria-metrics-gateway-0.1.38.tgz
  packages/victoria-metrics-k8s-stack-0.16.3.tgz
  packages/victoria-metrics-operator-0.23.1.tgz
  packages/victoria-metrics-single-0.8.62.tgz
Labels: k8s-stack, agent, alert, auth, cluster, single

#554 charts/cluster: fix vmbackupmanager init container configurationtion
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/_helpers.tpl
Labels: cluster, single

#518 Anomaly: change defaults
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

#560 charts/victoria-logs-single: add new chart
  .github/labeler.yaml
  Makefile
  charts/victoria-logs-single/.helmignore
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/templates/NOTES.txt
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/pdb.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/templates/server-service-headless.yaml
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
  hack/helm/victoria-logs-single.yaml
  hack/vlsingle-lint-hack.yaml
Labels: logs-single

#563 charts/victoria-logs-single: add fluentbit setup
  .github/ci/ct.yaml
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#566 charts/victoria-logs-single: template Host field
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#562 charts/victoria-metrics-anomaly: make monitoring config more configurable
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/helm/victoria-metrics-anomaly.yaml
  hack/vmanomaly-lint-hack.yaml
Labels: anomaly

#567 charts/victoria-metrics-anomaly: fix monitoring config indentation
  charts/victoria-metrics-anomaly/templates/configmap.yaml
Labels: anomaly
