Repository VictoriaMetrics/helm-charts, pull requests merged in 2023-11, with the labels that each got.

#744 bump version of VM operator to 0.39.1
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

#752 vm-k8s-stack: support adding extra group params for default vmrules
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/etcd.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/k8s.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-burnrate.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-histogram.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-apiserver-slos.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-prometheus-general.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-prometheus-node-recording.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-scheduler.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-controller-manager.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system-scheduler.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/kubernetes-system.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-exporter.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node-network.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/node.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vm-health.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#767 vm-alert: fix `notifier.url` check, as it is only needed when alertin…
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert
