Repository VictoriaMetrics/helm-charts, pull requests merged in 2023-12, with the labels that each got.

#771 victoria-metrics-operator: skip deleting victoriametrics CRD resources when…
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
Labels: operator

#777 victoria-metrics-cluster: fix vminsert template for extra volumes
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
Labels: cluster

#784 victoria-metrics-operator: sync CRD resources with operator v0.39.3
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
Labels: operator

#797 license configuration: fix passing license via k8s secret
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/templates/_helpers.tpl
Labels: agent, alert, auth, cluster, single

#800 license configuration: remove `secret.key` references for license volumes
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/_helpers.tpl
Labels: agent, alert, auth, cluster, single, anomaly

#803 charts/victoria-metrics-k8s-stack: bump chart version to release #801
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

#808 charts/victoria-metrics-cluster: bump chart version to release #807
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

#813 charts/victoria-metrics-agent: bump chart version for release
  charts/victoria-metrics-agent/Chart.yaml
Labels: agent
