Repository VictoriaMetrics/helm-charts, pull requests merged in 2023-08, with the labels that each got.

#602 delete an obsolete parameter remaining by mistake
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: bug, k8s-stack

#607 charts/victoria-metrics-cluster: remove incorrect comment
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

#598 vlogs-single: update to 0.3.0
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#601 charts/vmanomaly: add ability to provide license key
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
  charts/victoria-metrics-anomaly/templates/deployment.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

#614 created chart release flow + refactoring
  .github/ci/cr.yaml
  .github/workflows/release.yaml
  .github/workflows/run-lint.yaml
  .github/workflows/run-testing.yaml
  .github/workflows/update-docs.yaml
  CHANGELOG.md
  Makefile
  README.md
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/README.md.gotmpl
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
Labels: enhancement, k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#618 make up changelog for #617
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-single/CHANGELOG.md
Labels: k8s-stack, agent, single

#593 move clean up cr job to operator chart
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

#621 prepare release of operator and vmagent charts
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: agent, operator

#626 victoria-metrics-agent: fix honor_timestamps field
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
Labels: agent

#627 `psp_auto_creation_enabled` for operator is disabled by default
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/values.yaml
Labels: operator

#630 fix release pipeline & prepare for release
  .github/ci/cr.yaml
  .github/workflows/release.yaml
  .github/workflows/update-docs.yaml
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
Labels: k8s-stack, agent, operator, single

#637 add changelog for https://github.com/VictoriaMetrics/helm-charts/pull/636
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack
