Repository VictoriaMetrics/helm-charts, pull requests merged in 2024-05, with the labels that each got.

#1004 Make up changelogs
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/crd_clusterrole.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/README.md
Labels: agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1015 prepare release operator
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/README.md
Labels: operator

#1018 prepare release k8s-stack
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

#1028 charts/victoria-logs-single: chart improvements, update to 0.8.0
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#1030 charts/victoria-metrics-k8s-stack: sync deps
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

#1033 victoria-metrics-k8s-stack: sync latest etcd v3.5.x rules from [upstr…
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
  charts/victoria-metrics-k8s-stack/templates/rules/etcd.yaml
Labels: k8s-stack

#1034 victorialogs-single: update fluentbit chart version to 0.46.7 and flu…
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#1040 charts/victoria-metrics-k8s-stack: release latest changes
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

#1044 charts/victoria-logs-single: update VictoriaLogs to 0.15.0
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single
