Repository VictoriaMetrics/helm-charts, pull requests merged in 2024-07, with the labels that each got.

#1094 victoria-metrics-k8s-stack: add `extraObjects` to allow deploying add…
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/extra-objects.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1095 bump chart version for release
  charts/victoria-metrics-operator/Chart.yaml
Labels: operator

#1106 victoria-metrics-k8s-stack: support configuring vmalert `-notifier.co…
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/additionalNotifierConfigs.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1107 add missing API version and kind for volumeClaimTemplates
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: agent, cluster, single, anomaly, logs-single

#1111 updated artifacthub changes generation
  .github/workflows/release.yaml
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1121 Release k8s stack
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

#1136 victoria-metrics-k8s-stack: fix vmalertmanager configuration when usi…
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1146 bump stack chart version
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

#1152 vmanomaly: changes in v1.13.2 - aliases
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/vmanomaly-lint-hack.yaml
Labels: anomaly

#1155 vmanomaly class fix
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

#1158 Vmanomaly: config validation error fix
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/vmanomaly-lint-hack.yaml
Labels: anomaly

#1170 charts/victoria-logs: update VictoriaLogs to 0.28.0
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#1174 victoria-metrics-k8s-stack: upgrade grafana 11.1.x
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack
