Repository VictoriaMetrics/helm-charts, pull requests merged in 2024-09, with the labels that each got.

#1388 merged ingress templates
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/servicescrape.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-insert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/ingress-storage.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/ingress.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1397 charts/victoria-metrics-anomaly: fix example URL in comments
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

#1401 do not create clusterrole if watchNamespaces contains single namespace, where operator is deployed
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/cluster_role.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/role.yaml
Labels: operator

#1402 fixed PVC in statefulset
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: k8s-stack, agent, cluster, single, anomaly, logs-single

#1403 upgrade operator and decrement k8s stack temporary
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: k8s-stack, operator

#1406 k8s-stack: new release
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1411 charts/k8s-stack: add doc for external Grafana usage
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack

#1410 Added a note about to big dashboards rendering, fixed chart dashboards
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/grafana-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-system-coredns.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-global.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/node-exporter-full.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1245 Added spec params description
  Makefile
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/README.md.gotmpl
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/hack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
  charts/victoria-metrics-single/values.yaml
  hack/docs/Dockerfile
  hack/docs/template.tmpl
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1420 use operator's own service monitor
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1424 Fixed alertmanager templates
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1427 cluster: fixed restore cmd args
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/_helpers.tpl
Labels: cluster

#1431 cluster bugfix and drop empty endpoints from scrape
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
Labels: k8s-stack, cluster

#1439 removed deprecated api from rbac
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/clusterrole.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vminsert-hpa.yaml
  charts/victoria-metrics-cluster/templates/vmselect-hpa.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/clusterrole.yaml
Labels: agent, cluster, single

#1441 added cluster podLabels support
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

#1440 fixed alertmanager ipv6 compatibility
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/clusterrolebinding.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/serviceaccount.yaml
  charts/victoria-metrics-alert/templates/vpa.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

#1444 charts/victoria-metrics-alert: remove license args for AM
  charts/victoria-metrics-alert/templates/_helpers.tpl
Labels: alert

#1446 cluster: fixed priority class name
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
Labels: cluster

#1451 fixed proto, when TLS is enabled
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

#1460 updated webhook service port
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

#1457 do not truncate names of resources to prevent collision
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/templates/grafana-datasource.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: k8s-stack, alert, operator

#1463 release operator first
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
Labels: k8s-stack, operator

#1466 upgraded deps and bumped k8s-stack chart version
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/Chart.lock
Labels: k8s-stack, agent, alert, auth, cluster, single, anomaly, logs-single

#1471 added cluster bugfix changelog entry
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

#1475 fixed security context for vmstorage statefulset
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
Labels: cluster

#1477 vmanomaly: removed not loggerFormat flag from extraArgs
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

#1484 oci repo to lower case
  .github/workflows/release.yaml
  .gitignore
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/README.md.gotmpl
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1492 minor fix mismatch storageClassName field
  charts/victoria-metrics-single/values.yaml
Labels: single

#1493 fixed ETCD dashboard cluster label
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
Labels: k8s-stack

#1503 release logs and anomaly charts with fixes
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
Labels: anomaly, logs-single

#1513 pipeline and chart bugfixes
  .github/workflows/labeler.yaml
  .github/workflows/update-docs.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

#1516 updated changelog uris
  .github/workflows/update-docs.yaml
  charts/victoria-logs-single/_changelog.md
  charts/victoria-metrics-agent/_changelog.md
  charts/victoria-metrics-alert/_changelog.md
  charts/victoria-metrics-anomaly/_changelog.md
  charts/victoria-metrics-auth/_changelog.md
  charts/victoria-metrics-cluster/_changelog.md
  charts/victoria-metrics-distributed/_changelog.md
  charts/victoria-metrics-gateway/_changelog.md
  charts/victoria-metrics-k8s-stack/_changelog.md
  charts/victoria-metrics-operator/_changelog.md
  charts/victoria-metrics-single/_changelog.md
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1517 fixed index pages urls
  _index.md
  charts/victoria-logs-single/_index.md
  charts/victoria-metrics-agent/_index.md
  charts/victoria-metrics-alert/_index.md
  charts/victoria-metrics-anomaly/_index.md
  charts/victoria-metrics-auth/_index.md
  charts/victoria-metrics-cluster/_index.md
  charts/victoria-metrics-distributed/_index.md
  charts/victoria-metrics-gateway/_index.md
  charts/victoria-metrics-k8s-stack/_index.md
  charts/victoria-metrics-operator/_index.md
  charts/victoria-metrics-single/_index.md
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1487 updated charts documentation
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/README.md.gotmpl
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
  hack/docs/template.tmpl
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1488 added vmauth to k8s-stack
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1496 k8s-stack: use path prefix from args as a default ingress path
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1518 k8s-stack: check `notifier.blackhole` flag if no notifiers are set in vmalert
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

#1522 fixed docs images and links
  Makefile
  README.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-distributed/img/victoriametrics-distributed-topology.drawio
  charts/victoria-metrics-distributed/img/victoriametrics-distributed-topology.webp
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-distributed/victoriametrics-distributed-topology.png
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/img/k8s-stack-overview.png
  charts/victoria-metrics-k8s-stack/img/k8s-stack-overview.webp
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
  hack/docs/Dockerfile
  hack/docs/template.tmpl
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1524 Updated chart docs
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, agent, alert, auth, cluster, anomaly, logs-single

#1526 fixed default fluentbit config, use headers instead of query args
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#1528 vlogs: updated changelog
  charts/victoria-logs-single/CHANGELOG.md
Labels: logs-single

#1532 vmagent: added remoteWrite param as a replacement for remoteWriteUrls
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  hack/helm/victoria-metrics-agent/e2e/simple.yaml
  hack/helm/victoria-metrics-agent/lint/cluster.yaml
  hack/helm/victoria-metrics-agent/lint/simple.yaml
Labels: agent
