Repository VictoriaMetrics/helm-charts, pull requests merged in 2024-10, with the labels that each got.

#1542 k8s-stack: updated minikube values
  charts/victoria-metrics-k8s-stack/values.minikube.yaml
Labels: k8s-stack

#1544 Updated minikube ETCD default port
  REQUIREMENTS.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/README.md.gotmpl
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/README.md.gotmpl
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/values.minikube.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
  hack/docs/template.tmpl
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1546 bump to 1.104.0
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, single

#1550 charts/victoria-metrics-anomaly: update vmanomaly, bugfixes
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/helm/victoria-metrics-anomaly/e2e/simple.yaml
  hack/helm/victoria-metrics-anomaly/lint/simple.yaml
Labels: anomaly

#1552 victoria-metrics-cluster: allow excluding vmstorage node from vminsert's storage node list
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

#1553 k8s-stack: generate vm components tag from app version by default
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, cluster

#1558 release charts with updated common dependency
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1567 operator: configurable webhook port on pod
  charts/victoria-metrics-operator/templates/deployment.yaml
Labels: operator

#1570 k8s-stack: alertmanager upgrade 0.27.0 and other minor bugfixes and improvements
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/uninstall_hook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

#1574 k8s-stack: release v0.27.1
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack

#1576 k8s-stack: fixed dashboards
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/proxy.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/scheduler.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_dashboards.py
Labels: k8s-stack

#1584 k8s-stack: new release
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack

#1588 fixed default cluster components image tag template
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

#1594 k8s-stack: updated alertmanager.rules condition
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/hack/sync_rules.py
Labels: k8s-stack

#1595 common: use <appSection>.fullnameOverride as alternative source for resource name prefix
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

#1602 charts/vmanomaly: appVersion 1.17.0
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

#1603 charts/vmanomaly: fix old release version in CHANGELOG.md
  charts/victoria-metrics-anomaly/CHANGELOG.md
Labels: anomaly

#1604 charts/victoria-metrics-k8s-stack: add info about adding external dashboards
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
Labels: k8s-stack

#1605 charts/vmanomaly: update app to v1.17.1
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

#1607 cluster: fixed hpa template name
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/hpa.yaml
Labels: cluster

#1609 cluster: fixed service account annotations
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/serviceaccount.yaml
Labels: cluster

#1611 cluster: vmbackupmanager fixed args
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  hack/helm/victoria-metrics-cluster/lint/simple.yaml
Labels: cluster

#1612 cluster: 0.14.5
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster

#1614 vlogs: add fluent-bit output for each vlogs replica, set app version to 0.37.0
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/NOTES.txt
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/templates/pdb.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#1620 chart/vmanomaly - appVersion 1.17.2
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

#1617 vmagent: reuse common templates
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/clusterrole.yaml
  charts/victoria-metrics-agent/templates/clusterrolebinding.yaml
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-agent/templates/pdb.yaml
  charts/victoria-metrics-agent/templates/pvc.yaml
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/templates/serviceaccount.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
Labels: agent

#1560 operator: moved CRD to subchart
  .gitignore
  charts/victoria-metrics-k8s-stack/.gitignore
  charts/victoria-metrics-k8s-stack/charts/crds
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/charts/crds/Chart.yaml
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

#1622 vmauth: reuse common templates
  charts/victoria-metrics-auth/templates/NOTES.txt
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-auth/templates/pdb.yaml
  charts/victoria-metrics-auth/templates/secret.yaml
  charts/victoria-metrics-auth/templates/service-monitor.yaml
  charts/victoria-metrics-auth/templates/service.yaml
  charts/victoria-metrics-auth/templates/serviceaccount.yaml
Labels: auth

#1625 vlogs: use service url for single replica and deployment
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#1627 k8s-stack: fixed default alertmanager template in additionalNotifiersConfig
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#1623 vmsingle: use common templates
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/NOTES.txt
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/clusterrole.yaml
  charts/victoria-metrics-single/templates/clusterrolebinding.yaml
  charts/victoria-metrics-single/templates/pdb.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/templates/serviceaccount.yaml
  charts/victoria-metrics-single/values.yaml
Labels: operator, single, anomaly

#1631 vmcluster: use common templates
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/templates/NOTES.txt
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/extra-secrets.yaml
  charts/victoria-metrics-cluster/templates/hpa.yaml
  charts/victoria-metrics-cluster/templates/ingress.yaml
  charts/victoria-metrics-cluster/templates/pdb.yaml
  charts/victoria-metrics-cluster/templates/service-monitor.yaml
  charts/victoria-metrics-cluster/templates/service.yaml
  charts/victoria-metrics-cluster/templates/serviceaccount.yaml
  charts/victoria-metrics-cluster/templates/vmauth-config.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1633 logs: support multiple path for each host in ingress
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#1636 support multiple ingress paths in ingress
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/ingress.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/ingress.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/values.yaml
Labels: k8s-stack, auth, cluster, single, logs-single

#1638 chart/vmanomaly - appVersion 1.18.0
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

#1642 support HPA for statefulset
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/hpa.yaml
Labels: agent, cluster

#1632 operator: use common templates
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/NOTES.txt
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/pdb.yaml
  charts/victoria-metrics-operator/templates/rb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

#1635 vmalert: use common templates
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/alertmanager-pvc.yaml
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/clusterrolebinding.yaml
  charts/victoria-metrics-alert/templates/server-alerts-configmap.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-alert/templates/server-pdb.yaml
  charts/victoria-metrics-alert/templates/server-service.yaml
  charts/victoria-metrics-alert/templates/service-monitor.yaml
  charts/victoria-metrics-alert/templates/serviceaccount.yaml
  charts/victoria-metrics-alert/templates/vpa.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

#1643 vmalert: fixes after refactoring
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
Labels: alert, single

#1648 vmagent: new release
  charts/victoria-metrics-agent/Chart.yaml
Labels: agent

#1647 single: allow overriding pvc names for deployment
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/values.yaml
Labels: single, logs-single
