Repository VictoriaMetrics/helm-charts, pull requests merged in 2024-02, with the labels that each got.

#837 fix chart artifact hub links
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/README.md.gotmpl
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/README.md.gotmpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/README.md.gotmpl
Labels: k8s-stack, auth, cluster, operator, single

#835 vmanomaly new config 1.9.2
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/README.md.gotmpl
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/templates/deployment.yaml
  charts/victoria-metrics-anomaly/values.yaml
  hack/helm/victoria-metrics-anomaly.yaml
  hack/vmanomaly-lint-hack.yaml
Labels: anomaly

#850 charts/victoria-metrics-k8s-stack: add `promscrape.dropOriginalLabels` by default
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#864 Vmanomaly v1.10 changes
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

#872 prepare release for operator chart with version 0.41.2
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator

#876 prepare release for k8s chart
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/charts/crds/crds/crd.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack

#880 charts/vmalert: follow-up for 01c5724e2b8da7282117b6232d4348882a0db69a
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
Labels: alert

#883 charts/vmalert: allow overriding alertmanager listen addr
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

#886 charts/victoria-metrics-k8s-stack: fix remoteWrite URLs templating
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

#888 Vmanomaly - v1.11 version modification
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
Labels: anomaly

#895 charts/victoria-metrics-agent: follow-up for #863
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
Labels: agent

#858 charts/vmauth: changes ready httpGet probe with tcpSocket
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
Labels: auth

#897 victoria-metrics-alert: Fix possible null value on flag `notifier.url…
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/server-deployment.yaml
Labels: alert

#900 charts/victoria-metrics-alert: release bugfixes
  charts/victoria-metrics-alert/Chart.yaml
Labels: alert
