Repository VictoriaMetrics/helm-charts, pull requests merged in 2024-11, with the labels that each got.

#1645 k8s-stack: use common templates
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-k8s-stack/templates/rules/additionalVictoriaMetricsRules.yml
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
  charts/victoria-metrics-k8s-stack/templates/serviceaccount.yaml
  charts/victoria-metrics-k8s-stack/templates/servicemonitors.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/monzo-template.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/custom-templates.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/notifiers.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
  charts/victoria-metrics-k8s-stack/values.yaml
  hack/rules-and-dashboards/sync_rules.py
Labels: k8s-stack

#1662 k8s-stack: updated dependencies
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/Chart.lock
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1664 victoria-metrics-agent: chart cleanup
  charts/victoria-metrics-agent/templates/clusterrole.yaml
  charts/victoria-metrics-agent/templates/clusterrolebinding.yaml
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-agent/templates/pdb.yaml
  charts/victoria-metrics-agent/templates/pvc.yaml
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/templates/serviceaccount.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
Labels: agent

#1663 victoria-logs-single: chart cleanup
  charts/victoria-logs-single/templates/NOTES.txt
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/templates/pdb.yaml
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-ingress.yaml
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
Labels: logs-single

#1666 victoria-metrics-single: chart cleanup
  charts/victoria-metrics-single/templates/NOTES.txt
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/clusterrole.yaml
  charts/victoria-metrics-single/templates/clusterrolebinding.yaml
  charts/victoria-metrics-single/templates/pdb.yaml
  charts/victoria-metrics-single/templates/relabel-configmap.yaml
  charts/victoria-metrics-single/templates/scrape-configmap.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-ingress.yaml
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/templates/serviceaccount.yaml
Labels: single

#1673 charts/victoria-metrics-k8s-stack: fix config example for init container
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack

#1668 victoria-metrics-auth: chart cleanup
  charts/victoria-metrics-auth/templates/NOTES.txt
  charts/victoria-metrics-auth/templates/_helpers.tpl
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/templates/ingress-internal.yaml
  charts/victoria-metrics-auth/templates/ingress.yaml
  charts/victoria-metrics-auth/templates/pdb.yaml
  charts/victoria-metrics-auth/templates/secret.yaml
  charts/victoria-metrics-auth/templates/service-monitor.yaml
  charts/victoria-metrics-auth/templates/service.yaml
  charts/victoria-metrics-auth/templates/serviceaccount.yaml
Labels: auth

#1669 victoria-metrics-alert: chart cleanup
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/alertmanager-ingress.yaml
  charts/victoria-metrics-alert/templates/alertmanager-pvc.yaml
  charts/victoria-metrics-alert/templates/alertmanager-service.yaml
  charts/victoria-metrics-alert/templates/server-alerts-configmap.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-alert/templates/server-pdb.yaml
  charts/victoria-metrics-alert/templates/server-service.yaml
  charts/victoria-metrics-alert/templates/service-monitor.yaml
  charts/victoria-metrics-alert/templates/serviceaccount.yaml
  charts/victoria-metrics-alert/templates/vpa.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert

#1670 victoria-metrics-anomaly: use common templates and chart cleanup
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/templates/_helpers.tpl
  charts/victoria-metrics-anomaly/templates/configmap.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/templates/pdb.yaml
  charts/victoria-metrics-anomaly/templates/pod-monitor.yaml
Labels: anomaly

#1667 victoria-metrics-cluster: chart cleanup
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/NOTES.txt
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/extra-secrets.yaml
  charts/victoria-metrics-cluster/templates/serviceaccount.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster

#1675 charts: update to 1.106.0 release of VictoriaMetrics
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, single

#1679 charts/k8s-stack: fix templating of the labels for VMAlertmanager
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/custom-templates.yaml
Labels: k8s-stack

#1681 charts/k8s-stack/changelog: fix formatting after #1679
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack

#1520 distributed: major refactoring, use common templates
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/templates/NOTES.txt
  charts/victoria-metrics-distributed/templates/_helpers.tpl
  charts/victoria-metrics-distributed/templates/extra-vmagent.yaml
  charts/victoria-metrics-distributed/templates/grafana-datasource.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmagent.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-proxy.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-write-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmcluster.yaml
  charts/victoria-metrics-distributed/templates/vmauth-read.yaml
  charts/victoria-metrics-distributed/templates/vmauth-write.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
  charts/victoria-metrics-operator/templates/_helpers.tpl
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/pdb.yaml
  charts/victoria-metrics-operator/templates/rb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/templates/service_scrape.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
Labels: operator

#1682 updated dashboards
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/files/dashboards/generated/victorialogs.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-namespaces.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-single-node.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
Labels: k8s-stack, logs-single

#1684 remove serviceAccountName from Deployment and StatefulSet, when it's disabled
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: agent, alert, auth, cluster, operator, single

#1690 k8s-stack: fixed vmauth spec context
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack

#1688 added podLabels to all charts and disabled passing extraLabels for pods
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
Labels: agent, alert, auth, operator, anomaly, logs-single

#1692 logs: added json parsing
  .github/workflows/release.yaml
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
Labels: agent, auth, single, logs-single

#1689 set default dns domain for all charts
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_pod.tpl
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/values.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1697 updated common dependency
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1701 single: fixed ability to pass a custom scrape config
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/templates/_helpers.tpl
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
Labels: single, logs-single

#1707 common: remove trailing slash from generated url
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/files/dashboards/generated/victorialogs.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-distributed/templates/extra-vmagent.yaml
  charts/victoria-metrics-distributed/templates/grafana-datasource.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/rules/rule.yaml
Labels: k8s-stack, logs-single

#1714 fixed etcd dashboard cluster variable
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/etcd.yaml
  hack/rules-and-dashboards/sync_dashboards.py
Labels: k8s-stack

#1710 updated common chart
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
  hack/rules-and-dashboards/sync_dashboards.py
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1712 vlogs: replaced fluentbit with vector
  .github/ci/ct.yaml
  .github/ci/helm-repos.yaml
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/extra-outputs.yaml
  charts/victoria-logs-single/templates/vector.yaml
  charts/victoria-logs-single/values.yaml
Labels: logs-single

#1718 vlogs: updated log agent in readme
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/README.md
Labels: k8s-stack, logs-single

#1719 vlogs: updated log agent in readme
  charts/victoria-logs-single/README.md.gotmpl
Labels: logs-single

#1720 Updated log agent in readme
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/README.md.gotmpl
Labels: logs-single

#1723 updated common chart
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1731 operator: added crds.enabled flag
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator

#1735 added configmap template
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/configmap.yaml
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/templates/alertmanager-configmap.yaml
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-alerts-configmap.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/templates/_helpers.tpl
  charts/victoria-metrics-gateway/templates/configmap.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
Labels: agent, alert

#1736 vmagent: fixed statefulset variable name typo, new releases for vmalert and vmagent
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/Chart.yaml
Labels: agent, alert

#1738 charts/vmanomaly: update to v1.18.1
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

#1732 common: added overrideKey to support different override keys for plain an managed resources, clarified params in docs
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: agent, alert, auth, cluster, single, anomaly

#1744 operator: disable cleanup, when crds.enabled: false
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
Labels: operator

#1745 common: do not append default key if custom overrideKey is not set
  .github/workflows/run-lint.yaml
  .gitignore
  Makefile
  charts/victoria-logs-single/templates/server-deployment.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/statefulset.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.lock
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_service.tpl
  charts/victoria-metrics-common/values.yaml
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  test-charts/victoria-metrics-common/Chart.lock
  test-charts/victoria-metrics-common/Chart.yaml
  test-charts/victoria-metrics-common/templates/helpers.yaml
  test-charts/victoria-metrics-common/templates/service.yaml
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
  test-charts/victoria-metrics-common/tests/service_test.yaml
  test-charts/victoria-metrics-common/values.yaml
Labels: agent, alert, auth, cluster, single, anomaly, logs-single

#1748 cluster: tests and new release
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/tests/__snapshot__/hpa_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/ingress_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/service_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vminsert_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmselect_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmstorage_test.yaml.snap
  charts/victoria-metrics-cluster/tests/hpa_test.yaml
  charts/victoria-metrics-cluster/tests/ingress_test.yaml
  charts/victoria-metrics-cluster/tests/service_test.yaml
  charts/victoria-metrics-cluster/tests/vmauth_test.yaml
  charts/victoria-metrics-cluster/tests/vminsert_test.yaml
  charts/victoria-metrics-cluster/tests/vmselect_test.yaml
  charts/victoria-metrics-cluster/tests/vmstorage_test.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1751 vmauth and vmgateway: added init containers
  Makefile
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-common/README.md.gotmpl
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/templates/deployment.yaml
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-operator/charts/crds/README.md
  charts/victoria-metrics-operator/charts/crds/README.md.gotmpl
  charts/victoria-metrics-operator/charts/crds/values.yaml
Labels: auth, cluster, operator

#1747 charts/vmanomaly: update to 1.18.2
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

#1757 charts/vmanomaly - release 1.18.3
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

#1764 vmalert: fixed rule param and updated docs
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/_helpers.tpl
  charts/victoria-metrics-alert/values.yaml
Labels: alert

#1740 distributed: added upgrade guide, updated templates
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.lock
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-distributed/templates/NOTES.txt
  charts/victoria-metrics-distributed/templates/_helpers.tpl
  charts/victoria-metrics-distributed/templates/extra-vmagent.yaml
  charts/victoria-metrics-distributed/templates/grafana-datasource.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmagent.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-proxy.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-write-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmcluster.yaml
  charts/victoria-metrics-distributed/templates/vmauth-read.yaml
  charts/victoria-metrics-distributed/templates/vmauth-write.yaml
  charts/victoria-metrics-distributed/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-distributed/tests/vmauth_test.yaml
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.lock
  charts/victoria-metrics-single/templates/NOTES.txt
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1767 charts: update app versions to v1.106.1 release
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single

#1770 charts/vmanomaly - update app to v1.18.4
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly

#1774 common: fixed appversion label
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/RELEASE_GUIDE.md
  charts/victoria-metrics-k8s-stack/todo.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-single/Chart.yaml
  test-charts/victoria-metrics-common/templates/image.yaml
  test-charts/victoria-metrics-common/tests/image_test.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1780 k8s-stack: allow CR name override using component.name parameter
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmagent/vmagent.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmalert/vmalert.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmauth/vmauth.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmcluster/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/vmsingle/vmsingle.yml
Labels: k8s-stack

#1781 vmauth: fixed multiple ingress rendering
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/templates/ingress.yaml
Labels: auth

#1783 common: render template in vm.app.name
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-common/templates/_image.tpl
  test-charts/victoria-metrics-common/tests/helpers_test.yaml
  test-charts/victoria-metrics-common/tests/image_test.yaml
Labels: logs-single

#1784 ingress: uncommented default host values for an example
  charts/victoria-logs-single/Chart.lock
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/Chart.lock
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/ingress.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/Chart.lock
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-alert/templates/alertmanager-deployment.yaml
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/Chart.lock
  charts/victoria-metrics-anomaly/templates/controller.yaml
  charts/victoria-metrics-auth/Chart.lock
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.lock
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/tests/__snapshot__/hpa_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/ingress_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/service_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vminsert_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmselect_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmstorage_test.yaml.snap
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_helpers.tpl
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-gateway/Chart.lock
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-operator/Chart.lock
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-single/Chart.lock
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/server-deployment.yaml
  charts/victoria-metrics-single/values.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs-single

#1797 synced dashboards
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/files/dashboards/generated/victorialogs.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/alertmanager-overview.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubernetes-views-pods.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-backupmanager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-operator.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-vmalert.yaml
Labels: k8s-stack, logs-single

#1796 vlogs: removed duplicated app label from dashboards
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/dashboard.yaml
Labels: logs-single

#1806 k8s-stack: fixed alertmanager config name
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
Labels: k8s-stack

#1819 added ability to override service.targetPort and serviceMonitor.targetPort
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/service-monitor.yaml
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-service-monitor.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, single, logs, metrics

#1818 vlogs: create vector config in a given namespace even if vector.enabled: false
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/vector.yaml
  charts/victoria-logs-single/values.yaml
Labels: single, logs

#1821 charts/vmanomaly: update to v1.18.5
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics

#1827 vlogs: release 0.8.7, vmcluster: release 0.14.13
  charts/victoria-metrics-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vminsert_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmselect_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmstorage_test.yaml.snap
  charts/victoria-metrics-cluster/values.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs, metrics, gateway
