Repository VictoriaMetrics/helm-charts, pull requests merged in 2024-12, with the labels that each got.

#1830 charts/vmanomaly - update app to v1.18.6
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics

#1835 charts/vmanomaly - update app to v.1.18.7
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics

#1839 do not set clusterIP for type != ClusterIP
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/templates/service.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/templates/server-service.yaml
Labels: cluster, single, logs, metrics

#1844 charts: expand retention docs
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/values.yaml
Labels: cluster, single, logs, metrics

#1847 charts/vmanomaly - update app to v1.18.8
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics

#1846 vlogs: added option for retention by disk usage
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/values.yaml
Labels: single, logs

#1849 k8s-stack: added note about installing operator separately
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack, metrics

#1852 k8s-stack: allow manage default dashboards independently
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/grafana/dashboard.yaml
Labels: k8s-stack, metrics

#1854 chore(victoria-metrics-k8s-stack): Just a tiny spelling fix in the comment about grafanaOperator
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, metrics

#1856 chore(deps): upgrade VMLogs to v1.3.2
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
Labels: single, logs

#1858 charts/operator: allow disabling automatic token mount
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/templates/service_account.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator, metrics

#1861 k8s-stack: Dependency chart updates 2024-12-11
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack, metrics

#1863 Miss aligned comments
  charts/victoria-metrics-alert/values.yaml
Labels: alert, metrics

#1862 Omitted server-enabled
  charts/victoria-metrics-alert/templates/server-deployment.yaml
  charts/victoria-metrics-alert/templates/server-ingress.yaml
  charts/victoria-metrics-alert/templates/server-service.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert, metrics

#1867 Changed prom alertmanager image
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/values.yaml
Labels: alert, metrics

#1869 Fix values rendering for Markdown engines with strict XML parsing
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
  hack/docs/template.tmpl
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs, metrics, common, gateway

#1871 add missing rule config in values.yaml
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, metrics

#1889 operator: compact crd template
  .github/workflows/release.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
Labels: operator, metrics

#1896 charts/operator: Add option to enable hostNetwork for custom CNI deployments
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/README.md.gotmpl
  charts/victoria-metrics-operator/templates/deployment.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: operator, metrics
