Repository VictoriaMetrics/helm-charts, pull requests merged in 2025-05, with the labels that each got.

#2165 vlogs charts: upgrade version and minor fix
  charts/victoria-logs-cluster/CHANGELOG.md
  charts/victoria-logs-cluster/Chart.yaml
  charts/victoria-logs-cluster/README.md
  charts/victoria-logs-cluster/tests/__snapshot__/hpa_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vlinsert_test.yaml.snap
  charts/victoria-logs-cluster/values.yaml
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
Labels: cluster, single, logs

#2162 victoria-logs-single: enable Persistent Volume Claim for VictoriaLogs…
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/tests/__snapshot__/server_test.yaml.snap
  charts/victoria-logs-single/values.yaml
Labels: single, logs

#2170 docs/victoria-metrics-k8s-stack: use links to resources not quick start
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack, metrics

#2175 charts/vmanomaly: release v1.22.1
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics

#2179 charts: update VictoriaMetrics components to v1.117.0
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, single, metrics, gateway

#2178 k8s-stack: fix plugins section in GrafanaDatasource
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, metrics

#2190 distributed: fix vmauth-read vmsingle urlCtx appKey
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/templates/vmauth-read.yaml
Labels: metrics

#2192 log charts: add `-http.shutdownDelay=15s` cmd-line flag to the server…
  charts/victoria-logs-cluster/CHANGELOG.md
  charts/victoria-logs-cluster/tests/__snapshot__/vlinsert_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vlselect_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vlstorage_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-logs-cluster/values.yaml
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/tests/__snapshot__/server_test.yaml.snap
  charts/victoria-logs-single/values.yaml
Labels: cluster, single, logs
