Repository VictoriaMetrics/helm-charts, pull requests merged in 2025-02, with the labels that each got.

#1963 operator: added default security context
  charts/victoria-metrics-common/CHANGELOG.md
  charts/victoria-metrics-common/Chart.yaml
  charts/victoria-metrics-common/templates/_pod.tpl
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/grafana/datasource.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator, metrics, common

#1974 k8s-stack: added ability to use VMAlertmanagerConfig instead of plain k8s Secret.
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/templates/victoria-metrics-operator/alertmanager/vmalertmanager.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, metrics

#1983 Add ability to specify pod lifecycle
  charts/victoria-metrics-auth/templates/deployment.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  charts/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/values.yaml
Labels: auth, cluster, metrics

#1985 Add-vmServiceScrape-object
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/server-service-monitor.yaml
  charts/victoria-logs-single/values.yaml
Labels: single, logs

#1986 docs/victoria-logs-single: update VL version, chart version
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
Labels: single, logs

#1990 charts: update VictoriaMetrics components to v1.111.0
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, single, metrics, gateway

#1996 fix/0.52.0 version in changelog link
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack, metrics

#1999 chore(deps): upgrade node exporter chart to v4.44
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack, metrics

#2003 charts/operator: fix cleanup hook does not use global imagePullSecrets
  charts/victoria-metrics-operator/templates/cleanup.yaml
Labels: operator, metrics

#1998 vmagent: added daemonset support
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/README.md
  charts/victoria-logs-single/templates/_helpers.tpl
  charts/victoria-logs-single/templates/server-pvc.yaml
  charts/victoria-logs-single/templates/server-service.yaml
  charts/victoria-logs-single/templates/server-statefulset.yaml
  charts/victoria-logs-single/templates/server.yaml
  charts/victoria-logs-single/templates/serviceaccount.yaml
  charts/victoria-logs-single/tests/__snapshot__/server_test.yaml.snap
  charts/victoria-logs-single/tests/server_test.yaml
  charts/victoria-logs-single/values.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-agent/templates/_helpers.tpl
  charts/victoria-metrics-agent/templates/deployment.yaml
  charts/victoria-metrics-agent/templates/pvc.yaml
  charts/victoria-metrics-agent/templates/server.yaml
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/tests/__snapshot__/server_test.yaml.snap
  charts/victoria-metrics-agent/tests/server_test.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/_helpers.tpl
  charts/victoria-metrics-cluster/templates/hpa.yaml
  charts/victoria-metrics-cluster/templates/service.yaml
  charts/victoria-metrics-cluster/templates/vmauth-server.yaml
  charts/victoria-metrics-cluster/templates/vminsert-server.yaml
  charts/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  charts/victoria-metrics-cluster/templates/vmselect-server.yaml
  charts/victoria-metrics-cluster/templates/vmstorage-server.yaml
  charts/victoria-metrics-cluster/tests/__snapshot__/vmselect_test.yaml.snap
  charts/victoria-metrics-cluster/tests/vmauth_test.yaml
  charts/victoria-metrics-cluster/tests/vminsert_test.yaml
  charts/victoria-metrics-cluster/tests/vmselect_test.yaml
  charts/victoria-metrics-cluster/tests/vmstorage_test.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/README.md
  charts/victoria-metrics-single/templates/server-pvc.yaml
  charts/victoria-metrics-single/templates/server-service.yaml
  charts/victoria-metrics-single/templates/server-statefulset.yaml
  charts/victoria-metrics-single/templates/server.yaml
  charts/victoria-metrics-single/tests/__snapshot__/server_test.yaml.snap
  charts/victoria-metrics-single/tests/server_test.yaml
  charts/victoria-metrics-single/values.yaml
Labels: agent, cluster, single, logs, metrics

#2010 charts: update vm apps version to v1.112.0
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, single, metrics, gateway

#2016 charts/victoria-logs-single: fix service not being rendered
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server-service.yaml
Labels: single, logs

#2018 single: revert serviceName removal from statefulSet mode
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/templates/server.yaml
  charts/victoria-logs-single/tests/__snapshot__/server_test.yaml.snap
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/templates/server.yaml
Labels: single, logs, metrics

#2021 charts/victoria-metrics-k8s-stack: add example of using quay registry
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/values.quay.yaml
Labels: k8s-stack, metrics
