Repository VictoriaMetrics/helm-charts, pull requests merged in 2025-01, with the labels that each got.

#1903 Add support for string extraObjects
  charts/victoria-logs-single/templates/extra-objects.yaml
  charts/victoria-metrics-agent/templates/extra-objects.yaml
  charts/victoria-metrics-alert/templates/extra-objects.yaml
  charts/victoria-metrics-auth/templates/extra-objects.yaml
  charts/victoria-metrics-cluster/templates/extra-objects.yaml
  charts/victoria-metrics-k8s-stack/templates/extra-objects.yaml
  charts/victoria-metrics-operator/templates/extra-objects.yaml
  charts/victoria-metrics-single/templates/extra-objects.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, logs, metrics

#1907 vmcluster: improve components readiness check
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  charts/victoria-metrics-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vminsert_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmselect_test.yaml.snap
  charts/victoria-metrics-cluster/tests/__snapshot__/vmstorage_test.yaml.snap
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster, metrics

#1914 release victoria-metrics-cluster
  charts/victoria-metrics-cluster/Chart.yaml
Labels: cluster, metrics

#1916 Automatic update CHANGELOGs and READMEs
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/README.md
Labels: cluster, metrics

#1918 victoria-metrics-distributed: fix typo
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmagent.yaml
Labels: metrics

#1925 charts: update to latest releases
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, single, logs, metrics, gateway

#1930 charts: update VictoriaMetrics components to v1.109.1
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, single, metrics, gateway

#1932 charts: update VictoriaMetrics components to v1.109.1
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/Chart.yaml
Labels: single, logs

#1937 charts/vmanomaly: update appVersion to v1.19.0
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics

#1941 charts/vmanomaly: update appVersion to v1.19.1
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics

#1947 k8s-stack: added grafana external host management
  charts/victoria-logs-single/files/rules/generated/vlogs.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/proxy.yaml
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/scheduler.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/alertmanager.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/etcd.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/general.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_cpu_limits.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_cpu_requests.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_cpu_usage_seconds_total.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_cache.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_limits.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_requests.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_rss.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_swap.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.container_memory_working_set_bytes.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/k8s.rules.pod_owner.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-availability.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-burnrate.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-histogram.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-apiserver-slos.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-prometheus-general.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-prometheus-node-recording.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-scheduler.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kube-state-metrics.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubelet.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-apps.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-resources.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-storage.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-apiserver.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-controller-manager.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-kubelet.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system-scheduler.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/kubernetes-system.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/node-exporter.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/node-exporter.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/node-network.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/node.rules.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vm-health.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmagent.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmcluster.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmoperator.yaml
  charts/victoria-metrics-k8s-stack/files/rules/generated/vmsingle.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-operator/templates/webhook.yaml
  charts/victoria-metrics-operator/values.yaml
  hack/rules-and-dashboards/sync_rules.py
Labels: k8s-stack, operator, single, logs, metrics
