Repository VictoriaMetrics/helm-charts, pull requests merged in 2025-06, with the labels that each got.

#2205 docs: update link to prometheus migration
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/_index.md.gotmpl
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator, metrics

#2210 charts/victoria-metrics-k8s-stack: fix templating of image.tag for vmagent
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
Labels: k8s-stack, metrics

#2231 charts: update VM components to 1.119.0
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
Labels: k8s-stack, agent, alert, auth, cluster, single, metrics, gateway

#2246 charts/vmagent: Add trafficDistribution for service in vmagent chart
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/service.yaml
  charts/victoria-metrics-agent/values.yaml
Labels: agent, metrics

#2251 charts/anomaly: update to v1.24.0
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/templates/configmap.yaml
Labels: anomaly, metrics

#2258 charts/anomaly: update to v1.24.1
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics

#2268 Update _index.md.gotmpl
  charts/victoria-logs-cluster/_index.md.gotmpl
Labels: cluster, logs

#2272 Updated the charts/victoria-metrics-cluster/values.yaml file and adju…
  charts/victoria-metrics-cluster/values.yaml
Labels: cluster, metrics

#2274 charts/k8s-stack: update operator to 0.60.1
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/Chart.lock
  charts/victoria-metrics-k8s-stack/Chart.yaml
Labels: k8s-stack, metrics
