Repository VictoriaMetrics/helm-charts, pull requests merged in 2025-09, with the labels that each got.

#2383 docs: introduce quick start guide for VictoriaLogs charts
  charts/victoria-logs-cluster/_index.md.gotmpl
  charts/victoria-logs-cluster/templates/NOTES.txt
  charts/victoria-logs-collector/_index.md.gotmpl
  charts/victoria-logs-single/_index.md.gotmpl
Labels: cluster, single, logs

#2396 CRDs subchart disable from hugo rendering
  charts/victoria-metrics-operator/charts/crds/README.md
Labels: operator, metrics

#2402 docs: reduce redirect in docs links
  CONTRIBUTING.md
  README.md
  charts/victoria-logs-cluster/values.yaml
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/values.yaml
  charts/victoria-metrics-alert/CHANGELOG.md
  charts/victoria-metrics-alert/Chart.yaml
  charts/victoria-metrics-alert/values.yaml
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
  charts/victoria-metrics-anomaly/values.yaml
  charts/victoria-metrics-auth/CHANGELOG.md
  charts/victoria-metrics-auth/Chart.yaml
  charts/victoria-metrics-auth/values.yaml
  charts/victoria-metrics-cluster/CHANGELOG.md
  charts/victoria-metrics-cluster/Chart.yaml
  charts/victoria-metrics-cluster/values.yaml
  charts/victoria-metrics-common/templates/_enterprise.tpl
  charts/victoria-metrics-distributed/_index.md.gotmpl
  charts/victoria-metrics-distributed/templates/NOTES.txt
  charts/victoria-metrics-distributed/values.yaml
  charts/victoria-metrics-gateway/CHANGELOG.md
  charts/victoria-metrics-gateway/Chart.yaml
  charts/victoria-metrics-gateway/_index.md.gotmpl
  charts/victoria-metrics-gateway/values.yaml
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/_index.md.gotmpl
  charts/victoria-metrics-k8s-stack/files/dashboards/generated/victoriametrics-cluster.yaml
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator-crds/Chart.yaml
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-single/CHANGELOG.md
  charts/victoria-metrics-single/Chart.yaml
  charts/victoria-metrics-single/templates/NOTES.txt
  charts/victoria-metrics-single/values.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs, metrics, common, gateway

#2407 docs: fix links
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-metrics-anomaly/_index.md.gotmpl
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/_index.md.gotmpl
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
Labels: k8s-stack, single, anomaly, logs, metrics

#2417 charts/victoria-logs-single: add params to ServiceMonitor
  charts/victoria-logs-single/CHANGELOG.md
  charts/victoria-logs-single/templates/monitor.yaml
  charts/victoria-logs-single/values.yaml
Labels: single, logs

#2418 Add securityContext to cleanup hook
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/templates/cleanup.yaml
Labels: operator, metrics

#2423 vmagent: render helm variables in VMAgent ConfigMap
  charts/victoria-metrics-agent/CHANGELOG.md
  charts/victoria-metrics-agent/templates/configmap.yaml
Labels: agent, metrics

#2427 docs use canonical link
  charts/victoria-metrics-gateway/values.yaml
Labels: metrics, gateway

#2400 add victoria-traces-cluster chart
  .github/workflows/run-testing.yaml
  charts/victoria-traces-cluster/.helmignore
  charts/victoria-traces-cluster/CHANGELOG.md
  charts/victoria-traces-cluster/Chart.lock
  charts/victoria-traces-cluster/Chart.yaml
  charts/victoria-traces-cluster/README.md
  charts/victoria-traces-cluster/_changelog.md
  charts/victoria-traces-cluster/_index.md.gotmpl
  charts/victoria-traces-cluster/e2e/simple.yaml
  charts/victoria-traces-cluster/lint/simple.yaml
  charts/victoria-traces-cluster/templates/NOTES.txt
  charts/victoria-traces-cluster/templates/_helpers.tpl
  charts/victoria-traces-cluster/templates/extra-objects.yaml
  charts/victoria-traces-cluster/templates/hpa.yaml
  charts/victoria-traces-cluster/templates/ingress.yaml
  charts/victoria-traces-cluster/templates/pdb.yaml
  charts/victoria-traces-cluster/templates/service.yaml
  charts/victoria-traces-cluster/templates/serviceaccount.yaml
  charts/victoria-traces-cluster/templates/vmServiceScrape.yaml
  charts/victoria-traces-cluster/templates/vmauth-config.yaml
  charts/victoria-traces-cluster/templates/vmauth-server.yaml
  charts/victoria-traces-cluster/templates/vtinsert-server.yaml
  charts/victoria-traces-cluster/templates/vtselect-server.yaml
  charts/victoria-traces-cluster/templates/vtstorage-server.yaml
  charts/victoria-traces-cluster/tests/__snapshot__/hpa_test.yaml.snap
  charts/victoria-traces-cluster/tests/__snapshot__/ingress_test.yaml.snap
  charts/victoria-traces-cluster/tests/__snapshot__/service_test.yaml.snap
  charts/victoria-traces-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-traces-cluster/tests/__snapshot__/vtinsert_test.yaml.snap
  charts/victoria-traces-cluster/tests/__snapshot__/vtselect_test.yaml.snap
  charts/victoria-traces-cluster/tests/__snapshot__/vtstorage_test.yaml.snap
  charts/victoria-traces-cluster/tests/hpa_test.yaml
  charts/victoria-traces-cluster/tests/ingress_test.yaml
  charts/victoria-traces-cluster/tests/service_test.yaml
  charts/victoria-traces-cluster/tests/vmauth_test.yaml
  charts/victoria-traces-cluster/tests/vtinsert_test.yaml
  charts/victoria-traces-cluster/tests/vtselect_test.yaml
  charts/victoria-traces-cluster/tests/vtstorage_test.yaml
  charts/victoria-traces-cluster/values.yaml
Labels: cluster, traces

#2430 charts/victoria-logs-collector: switch Vector to alpine-based build
  charts/victoria-logs-collector/CHANGELOG.md
  charts/victoria-logs-collector/Chart.yaml
  charts/victoria-logs-collector/templates/daemonset.yaml
Labels: logs

#2434 fix: Add vmauth-sha256sum annotation to vmauth-server template
  charts/victoria-logs-cluster/CHANGELOG.md
  charts/victoria-logs-cluster/templates/vmauth-server.yaml
Labels: cluster, logs

#2419 operator: make templated crds specless
  charts/victoria-metrics-operator-crds/charts/crds/crd.yaml
  charts/victoria-metrics-operator/CHANGELOG.md
  charts/victoria-metrics-operator/Chart.yaml
  charts/victoria-metrics-operator/charts/crds/crds/crd.yaml
  charts/victoria-metrics-operator/charts/crds/files/crd.yaml.bz2
  charts/victoria-metrics-operator/charts/crds/templates/_helpers.yaml
  charts/victoria-metrics-operator/charts/crds/templates/cm.yaml
  charts/victoria-metrics-operator/charts/crds/templates/job.yaml
  charts/victoria-metrics-operator/charts/crds/templates/role.yaml
  charts/victoria-metrics-operator/charts/crds/templates/serviceaccount.yaml
  charts/victoria-metrics-operator/charts/crds/values.yaml
  charts/victoria-metrics-operator/crd.yaml
  charts/victoria-metrics-operator/templates/cleanup.yaml
  charts/victoria-metrics-operator/templates/crb.yaml
  charts/victoria-metrics-operator/templates/crd.yaml
  charts/victoria-metrics-operator/templates/role.yaml
  charts/victoria-metrics-operator/templates/serviceaccount.yaml
  charts/victoria-metrics-operator/templates/webhook.yaml
  charts/victoria-metrics-operator/values.yaml
Labels: k8s-stack, operator, metrics, crds
