Repository VictoriaMetrics/helm-charts, pull requests merged in 2025-04, with the labels that each got.

#2097 override datasource name for external grafana
  charts/victoria-metrics-k8s-stack/CHANGELOG.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/templates/_helpers.tpl
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, metrics

#2102 feat: Add posibility to template ingress annotations
  charts/victoria-metrics-k8s-stack/templates/ingress.yaml
Labels: k8s-stack, metrics

#2096 added VM CRDs chart
  .github/workflows/run-testing.yaml
  charts/victoria-metrics-operator-crds/.helmignore
  charts/victoria-metrics-operator-crds/CHANGELOG.md
  charts/victoria-metrics-operator-crds/Chart.lock
  charts/victoria-metrics-operator-crds/Chart.yaml
  charts/victoria-metrics-operator-crds/README.md
  charts/victoria-metrics-operator-crds/README.md.gotmpl
  charts/victoria-metrics-operator-crds/_changelog.md
  charts/victoria-metrics-operator-crds/_index.md
  charts/victoria-metrics-operator-crds/charts/crds
  charts/victoria-metrics-operator-crds/crd.yaml
  charts/victoria-metrics-operator-crds/templates/crd.yaml
  charts/victoria-metrics-operator-crds/values.yaml
Labels: metrics

#2107 Add erofs to ignored fs type
  charts/victoria-metrics-k8s-stack/values.yaml
Labels: k8s-stack, metrics

#2124 fix "converts all existing prometheus-operator API objects" link
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
Labels: k8s-stack, metrics

#2125 update Victoria Logs to v1.18.0
  charts/victoria-logs-single/Chart.yaml
Labels: single, logs

#2009 generate paragraph per chart value instead of table
  Makefile
  charts/victoria-logs-single/README.md
  charts/victoria-metrics-agent/README.md
  charts/victoria-metrics-alert/README.md
  charts/victoria-metrics-anomaly/README.md
  charts/victoria-metrics-auth/README.md
  charts/victoria-metrics-cluster/README.md
  charts/victoria-metrics-common/README.md
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-gateway/README.md
  charts/victoria-metrics-k8s-stack/README.md
  charts/victoria-metrics-k8s-stack/README.md.gotmpl
  charts/victoria-metrics-k8s-stack/values.yaml
  charts/victoria-metrics-operator-crds/README.md
  charts/victoria-metrics-operator/README.md
  charts/victoria-metrics-single/README.md
  hack/docs/Dockerfile
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs, metrics, common, gateway

#2135 fix: vmagent hpa
  charts/victoria-metrics-agent/Chart.yaml
  charts/victoria-metrics-agent/templates/hpa.yaml
Labels: agent, metrics

#2142 update VictoriaLogs to v1.19.0
  README.md
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/README.md
Labels: single, logs

#2145 distributed: replaced perZone read and zone write VMAuth with VMCluster requests load balancer
  charts/victoria-metrics-distributed/CHANGELOG.md
  charts/victoria-metrics-distributed/Chart.lock
  charts/victoria-metrics-distributed/Chart.yaml
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
  charts/victoria-metrics-distributed/templates/per-az/vmagent.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-balancer.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-read-proxy.yaml
  charts/victoria-metrics-distributed/templates/per-az/vmauth-write-balancer.yaml
  charts/victoria-metrics-distributed/templates/vmauth-read.yaml
  charts/victoria-metrics-distributed/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-metrics-distributed/tests/vmauth_test.yaml
  charts/victoria-metrics-distributed/values.yaml
Labels: metrics

#2159 distributed: mention single node version in readme
  charts/victoria-metrics-distributed/README.md
  charts/victoria-metrics-distributed/README.md.gotmpl
Labels: metrics

#2156 create victoria-logs-cluster chart
  charts/victoria-logs-cluster/.helmignore
  charts/victoria-logs-cluster/CHANGELOG.md
  charts/victoria-logs-cluster/Chart.lock
  charts/victoria-logs-cluster/Chart.yaml
  charts/victoria-logs-cluster/README.md
  charts/victoria-logs-cluster/README.md.gotmpl
  charts/victoria-logs-cluster/_index.md
  charts/victoria-logs-cluster/templates/NOTES.txt
  charts/victoria-logs-cluster/templates/_helpers.tpl
  charts/victoria-logs-cluster/templates/extra-objects.yaml
  charts/victoria-logs-cluster/templates/hpa.yaml
  charts/victoria-logs-cluster/templates/ingress.yaml
  charts/victoria-logs-cluster/templates/pdb.yaml
  charts/victoria-logs-cluster/templates/service.yaml
  charts/victoria-logs-cluster/templates/serviceaccount.yaml
  charts/victoria-logs-cluster/templates/vector-config.yaml
  charts/victoria-logs-cluster/templates/vlinsert-server.yaml
  charts/victoria-logs-cluster/templates/vlselect-server.yaml
  charts/victoria-logs-cluster/templates/vlstorage-server.yaml
  charts/victoria-logs-cluster/templates/vmServiceScrape.yaml
  charts/victoria-logs-cluster/templates/vmauth-config.yaml
  charts/victoria-logs-cluster/templates/vmauth-server.yaml
  charts/victoria-logs-cluster/tests/__snapshot__/hpa_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/ingress_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/service_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vlinsert_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vlselect_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vlstorage_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vmauth_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vminsert_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vmselect_test.yaml.snap
  charts/victoria-logs-cluster/tests/__snapshot__/vmstorage_test.yaml.snap
  charts/victoria-logs-cluster/tests/hpa_test.yaml
  charts/victoria-logs-cluster/tests/ingress_test.yaml
  charts/victoria-logs-cluster/tests/service_test.yaml
  charts/victoria-logs-cluster/tests/vlinsert_test.yaml
  charts/victoria-logs-cluster/tests/vlselect_test.yaml
  charts/victoria-logs-cluster/tests/vlstorage_test.yaml
  charts/victoria-logs-cluster/tests/vmauth_test.yaml
  charts/victoria-logs-cluster/values.yaml
  charts/victoria-metrics-agent/_index.md
  charts/victoria-metrics-alert/_index.md
  charts/victoria-metrics-anomaly/_index.md
  charts/victoria-metrics-auth/_index.md
  charts/victoria-metrics-cluster/_index.md
  charts/victoria-metrics-distributed/_index.md
  charts/victoria-metrics-gateway/_index.md
  charts/victoria-metrics-k8s-stack/_index.md
  charts/victoria-metrics-operator-crds/_index.md
  charts/victoria-metrics-operator/_index.md
  charts/victoria-metrics-single/_index.md
  hack/helm/victoria-logs-cluster/e2e/simple.yaml
  hack/helm/victoria-logs-cluster/lint/simple.yaml
Labels: k8s-stack, agent, alert, auth, cluster, operator, single, anomaly, logs, metrics, gateway

#2164 update doc to mention victorialogs-cluster chart
  README.md
  charts/victoria-logs-cluster/_changelog.md
Labels: cluster, logs
