Repository VictoriaMetrics/helm-charts, pull requests merged in 2025-07, with the labels that each got.

#2245 VictoriaLogs: improve documents
  charts/victoria-logs-cluster/Chart.yaml
  charts/victoria-logs-cluster/_index.md.gotmpl
  charts/victoria-logs-single/Chart.yaml
  charts/victoria-logs-single/_index.md.gotmpl
Labels: cluster, single, logs

#2306 Missing RBAC permission for 0.61 update to Victoria-Metrics-Operator
  charts/victoria-metrics-operator/templates/role.yaml
Labels: operator, metrics

#2327 charts/vmanomaly: appVersion v1.25.1
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics

#2331 charts/vmanomaly: appVersion 1.25.2
  charts/victoria-metrics-anomaly/CHANGELOG.md
  charts/victoria-metrics-anomaly/Chart.yaml
Labels: anomaly, metrics
